<template>
  <div class="animated fadeIn">
     <h4>Edit ACLs</h4> 
     <br>
        
        <div class="card">
            <form @submit.prevent="UpdateACLs">
                
                <div class="card-body card-block">

                    <div class="row">
                        <div class="form-row col-md-12">
                            <div class="form-group col-md-6">
                                <label for="name" class=" form-control-label">Name</label>
                                <select class="form-control" id="name" v-model="name"  >
                                    <option v-for="name in name_options" v-bind:value="name"   >{{ name }}</option>
                                </select>
                                <!-- <input type="text" id="name" v-model="name" placeholder="Enter Name.." class="form-control"> -->
                                <div class="input-group" v-if="has_error">
                                    <span class="text-danger" v-for="name in errors.name"> {{name}}</span>            
                                </div>
                            </div>
                            
                            
                            <div class="form-group col-md-6">
                                <label for="description" class=" form-control-label">Description</label>
                                <input type="text" id="description" rows="2" v-model="description" placeholder="Enter Description.." class="form-control">
                                
                            </div>
                            
            
                        </div>
                        
                    </div>    
                </div>
                <div class="card-header pull-right card-header-no-backgroup">
                    <router-link :to="{name: 'acls-index'}"><button type="button" class="btn btn-danger " >
                        <i class="fa fa-times"></i></i> Cancel
                    </button></router-link>
                    <button type="" class="btn btn-primary">
                        <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                    
                </div>
            </form>
        </div>

    </div>
  </div>
</template>

<script>

export default {
    name: 'forms',

    data () {
        return {
        
        name:'',
        name_options:[],
        code:'',
        description:'',
        id:0,   
        has_error: false,
        errors:[],
        redirect_params:[],

        }
    },
    

    created(){        
        this.id = this.$route.params.id;        
        this.getACLs(this.id)

        this.getAllACLs().then(
            res => {
                var acls = res.data.acls;

                acls.forEach(element => {
                    this.name_options.push(element);
                });
            }
        )

    },
    mounted(){
        

    },
    methods: {
        UpdateACLs(){
            let loader = this.$loading.show();
            this.has_error = false
            
            var formData = new FormData();
            formData.append('name',this.name);
            if (this.description != null) {
                formData.append('desc',this.description);
            }
            formData.append('id',this.id);

            this.$http.post('/acls/update',formData)
            .then(
                res=>{
                    loader.hide();
                    this.$router.push({
                        name:'acls-index',
                        params:{
                            has_msg: true,
                            msg:'Updated acls succesfully!'
                        }
                        });
                }
            )
            .catch(
                err=>{
                    loader.hide()
                    if(err.response.status === 422){
                        this.has_error = true;
                        this.errors = err.response.data.errors || {}
                    }
                    else{                        
                        this.$toast.error({
                            title:'Create',
                            message:'Create record failed',
                        })
                    }
                }
            )
        },
        getACLs(id = 0){

            var acls =[];
            this.has_error = false
            var formData =  new FormData();
            formData.set('id',id)
            this.$http.get('/acls/show?id='+id)
            .then(
                (res) =>{
                    this.name = res.data.acls.name;
                    this.description = res.data.acls.desc;
                }
            )
            .catch(
                err=>{
                    this.has_error = true;
                    this.errors = err.response.data.errors || {}

                }
            )

        },
       
        
    },
    
}
</script>

