<template>
  <div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        
        <flashMessage transitionIn="animated swing" ></flashMessage>

        <div class="card">
          <div class="card-header">
            <div class="form-inline col-md-12" style="padding: 0;">
              <div class="col-md-3" style="padding: 0px 0 0px 5px;">
                <h4>ACLs</h4> 
              </div>   
              <div class="col-md-9" style="padding: 0">
                <router-link :to="{name: 'acls-create'}"><button  class=" pull-right create-button btn btn-primary" >Create</button></router-link>
              </div>
            </div>
            
          </div>
          <div class="card-body">
            <form action="" id="search-form" v-on:submit.prevent="search">
                <div class="row pl-4 pr-4 pt-1 pb-1">
                    <div class="col-lg-3 col-md-6 col-xs-12 p-0">
                      <div class="form-group">
                        <label for="keyword">Keyword</label>
                        <div class="input-group">
                            <input type="text" name="keyword" id="keyword" class="form-control" v-model="keyword" placeholder="Search">
                            
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-xs-12">
                      <br>
                      <div class="form-inline">
                        <button class="btn btn-primary" type="button" style="margin-top:7px" @click="search">Search</button>
                      </div>
                      
                    </div>
                    
                </div>
                
              </form>
            <div class="table-responsive">

              <table class="table table-striped first-td-padding">
                <thead>
                <tr>
                  <td>&numero;</td>
                  <td>Name</td>
                  <td>Description</td>
                  <td>Created By</td>
                  <td>Created At</td>
                  <td>Updated At</td>
                  <td width="110px" style="text-align:right">Actions</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(acls,key,index) in laravelData.data ">
                  <td>{{key+indexOfPage}}</td>
                  <td>{{acls.name}}</td>
                  <td>{{acls.desc}}</td>
                  <td>{{acls.user? acls.user.name:'N/A'}}</td>
                  <td>{{formatDate(acls.created_at)}}</td>
                  <td>{{formatDate(acls.updated_at)}}</td>
                  <td align="right">
                    <router-link :to="{name:'acls-edit',params:{id:acls.id} }"> <i class="fa fa-edit action-icon"> </i></router-link>
                    &nbsp;
                    <a href="#" @click.prevent="deleteItem(acls.id)"> <i class="fa fa-trash action-icon"> </i></a>
                  </td>
                </tr>
                
                </tbody>
              </table>
              <pagination :data="laravelData" @pagination-change-page="getACLs"></pagination>

            </div>
          </div>
          
        </div>
      </div>
    </div>

  </div>
</template>


<script>

  import Multiselect from 'vue-multiselect'

  export default {
    
    data() {
      return {
       
        has_error: false,
        errors: {},
        success: false,
        laravelData: {},
        indexOfPage: 0,
        page:1,

        keyword:'',
        params:{
          keyword:'',
        },
        
      }
    },
    components: { Multiselect },

    created(){
        this.$root.$on('deleteACLs', (data, msg)=>{

            if (data === true) {

                this.updatePermission(['create','read','update','delete'],msg.acl.name, false);
                localStorage.setItem('success', true);
                localStorage.setItem('msg', 'Delete record successfully!');
                window.location.reload();
            }else{

              var flashMessage = 'Delete record failed! '
              if (msg.msg != null  ) {
                flashMessage += msg.msg;
              }
              this.flash(flashMessage, 'error', {
                      timeout: this.getFlashMsgDuration(),
                      
                  });
            }
        });
        this.showAlertMsg();
      
    },
    mounted() {
      //
        this.getACLs()
        var msg = this.$route.params.msg;
        if(this.$route.params.has_msg === true){
          this.flash(msg, 'success', {
                    timeout: 4000,
                    
                });
        }
    
    },
    methods: {
      getACLs(page = 1,param){      
        this.page = page;  
        this.indexOfPage = (page-1)*this.itemPerPage+1;
        this.$http.get('/acls?keyword='+this.params.keyword)
                  .then(
                    res => {
                      app.success =  true
                      this.laravelData = res.data.acls;
                    }
                  ).catch(
                    err => {
                      app.has_error = true;
                      try {
                          app.errors = err.response.data.errors || {}
                      } catch (error) {
                        
                      }
                    }
                  )
      },
   
      search(){

        var search_role ='';
        
        this.params.keyword = this.keyword;
          
        this.page = 1;
        this.getACLs(this.page, this.params);
      },
      deleteItem(id =  0){
        var deleteResult =  this.deleteData(id,'deleteACLs','/acls/delete');  
      },
      
    }
  }

</script>


<style lang="scss">
  .table thead tr{
    color: #007bff;
  }
  .error-icon{
    color: #e34a4a;
  }
  .success-icon {
    display: inline-block;
    color: #4ae387;
  }
  .table-sm th, .table-sm td{
    padding: .7rem;
  }
  .color-icon-label-table {
    td:first-child {
      width: 1rem;
    }
  }
  button.create-button{
    width: 100px;
  }
</style>
