body {
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  -webkit-font-smoothing:antialiased;
  font-weight: 400;
  
}
.navbar .navbar-brand[data-v-51aa428b]{
  padding-left: 6%;
}
.form-control{
  font-size: 0.875rem;
}
.btn, .button{
  font-size: 0.875rem;
}
video {
  background: gray;
}

.img-thumbnail{
  height: 150px;
}


/*
 * Plugin: Select2
 * ---------------
 */
 .select2-container--default.select2-container--focus,
 .select2-selection.select2-container--focus,
 .select2-container--default:focus,
 .select2-selection:focus,
 .select2-container--default:active,
 .select2-selection:active {
   outline: none;
 }
 .select2-container--default .select2-selection--single,
 .select2-selection .select2-selection--single {
   border: 1px solid #d2d6de !important;
   border-radius: 0;
   padding: 6px 12px;
   height: 60px;
 }
 .select2-container--default.select2-container--open {
   border-color: #3c8dbc !important;
 }
 .select2-dropdown {
   border: 1px solid #d2d6de !important;
   border-radius: 0;
 }
 .select2-container--default .select2-results__option--highlighted[aria-selected] {
   background-color: #3c8dbc !important;
   color: white !important;
 }
 .select2-results__option {
   padding: 6px 12px;
   user-select: none;
   -webkit-user-select: none;
 }
 .select2-container .select2-selection--single .select2-selection__rendered {
   padding-left: 0;
   padding-right: 0;
   height: auto;
   margin-top: -4px;
 }
 .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
   padding-right: 6px;
   padding-left: 20px;
 }
 .select2-container--default .select2-selection--single .select2-selection__arrow {
   height: 28px;
   right: 3px;
 }
 .select2-container--default .select2-selection--single .select2-selection__arrow b {
   margin-top: 0;
 }
 .select2-dropdown .select2-search__field,
 .select2-search--inline .select2-search__field {
   border: 1px solid #d2d6de ;
 }
 .select2-dropdown .select2-search__field:focus,
 .select2-search--inline .select2-search__field:focus {
   outline: none !important;
   border: 1px solid #3c8dbc !important;
 }
 .select2-container--default .select2-results__option[aria-disabled=true] {
   color: #999;
 }
 .select2-container--default .select2-results__option[aria-selected=true] {
   background-color: #ddd !important;
 }
 .select2-container--default .select2-results__option[aria-selected=true],
 .select2-container--default .select2-results__option[aria-selected=true]:hover {
   color: #444 !important;
 }
 .select2-container--default .select2-selection--multiple {
   border: 1px solid #d2d6de !important;
   border-radius: 0;
 }
 .select2-container--default .select2-selection--multiple:focus {
   border-color: #3c8dbc !important;
 }
 .select2-container--default.select2-container--focus .select2-selection--multiple {
   border-color: #d2d6de !important;
 }
 .select2-container--default .select2-selection--multiple .select2-selection__choice {
   background-color: #3c8dbc !important;
   border-color: #367fa9 !important;
   padding: 0px 10px 0px 10px !important;
   color: #fff !important;
 }
 .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
   margin-right: 5px;
   color: rgba(255, 255, 255, 0.7) !important;
 }
 .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
   color: #fff !important;
 }
 .select2-container .select2-selection--single .select2-selection__rendered {
   padding-right: 10px;
 }
 .select2-container--default{
   width: 100% !important;
 }
 .select2-container .select2-selection--multiple{
  // max-width: 484px !important;
  min-height: 36px !important;
 }
/*
 * END Plugin: Select2
 * ---------------
 */


 select.form-control:not([size]):not([multiple]){
  height: calc(2.12rem + 2px);
}

h4{
  font-size: 18px;
}
//

.image-file-icon{
  width: 100px !important;
  height: 70px !important;
}
.div-file-size{
  padding: 0;
}
.wrap-text-in-div {
  word-break: break-all;
} 
.btn-update-action{
  float: right;
  margin-right: 15px;
}
.btn-back-action{
  float: right;
}
.btn{
  border-radius: 3px;
}
.badge{
  margin-right: 2px;
}
dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}
dt {
  float: left;
  width: 20%;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0
}
dd {
  float: left;
  width: 80%;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0;
  word-break: break-all;
}
.user-area .dropdown-toggle{
  height: 60px;
}
p{
  font-size: 14px !important;
}

//customize dash board style
.card .card-right{
  width: 30%;
}
.card .card-left{
  width: 70%;
}
.card .card-footer{
  text-align: center;
  padding: 0 1.25rem;
}
.card{
  border-radius: 4px;
}
input[type=file]{
  padding: 4px 0px 0px 12px !important;
  height: 36px !important;

}

//style for date range picker 
.reportrange-text[data-v-fffebcea]{
  padding: 7px 10px
}
.break-text-style{
  word-break: break-all ;
  // display: -webkit-box;
  // -webkit-box-orient: vertical;
}
.badge{
  font-size: 85% ;
  padding: .2em .6em 0.3em ;
  border-radius: 0.20em ;
}
.vue-daterange-picker{
  width: 100%;
  text-align: center;
}

//CARD HEADER
.card-header-no-backgroup{
  background: none !important;
  border-bottom: none !important;
}

//change table element style 
.table th, .table td{
  padding: 0.75rem 0.4rem 0.75rem 0.4rem;
}