/* This css file is to over write bootstarp css
--------------------------------------------------------- /
* Theme Name: Arbano-Admin Admin Template
* Theme URI: https://demos.vuejsadmin.com/arbano/
* Author: vuejsadmin
* Author URI: https://vuejsadmin.com/
* Description:
* Version: 1.0.0
* License: GNU General Public License v2 or later
* License URI: http://www.gnu.org/licenses/gpl-2.0.html
* Tags: html, themplate, Arbano-Admin
--------------------------------------------------------- */
@import "~normalize.css";
@import "bootstrap/bootstrap";
@import "variables";
@import "gauge";
@import "switches";
@import "widgets";
@import "~animate.css";

@import "glyphicons";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

.bg-flat-color-1 {background: #5c6bc0;}
.bg-flat-color-2 {background: #42a5f5;}
.bg-flat-color-3 {background: #ffa726;}
.bg-flat-color-4 {background: #ef5350;}
.bg-flat-color-5 {background: #4dbd74;}
.bg-flat-color-6 {background: #66bb6a;}
.bg-transparent {background-color: transparent;}
.bg-twitter {background: #1da1f2;}
.bg-facebook {background: #3b5998;}
.bg-instagram {background: #833ab4;}
.bg- {background: #ef5350;}
.bg- {background: #4dbd74;}
.bg- {background: #66bb6a;}
.flat-color-1 {color: #5c6bc0;}
.flat-color-2 {color: #42a5f5;}
.flat-color-3 {color: #ffa726;}
.flat-color-4 {color: #ef5350;}
.flat-color-5 {color: #4dbd74;}
.flat-color-6 {color: #66bb6a;}
.bg-white {background-color: #fff;}
.fade-5 {opacity: 0.5;}
.icon-lg {font-size: 4.68em;}
.fw-r {font-weight: normal;}
.color-gray {color: #868e96;}
.text-up {text-transform: uppercase;}
.br-0 {border: none !important;}
.black-rgba {background-color: rgba(0, 0, 0, 0.15) !important;}
.color-white {color: #fff !important;}
.color-red {color: #dc3545;}
.font-3xl {font-size: 2.8125em;}
.font-4xl {font-size: 3.75em;}
.width-90 {width: 90px;}
.height-15 {height: 15px;}
.height-93 {height: 93px;}
.height-100 {height: 100px;}
.inline-block {display: inline-block;}
.mb-15 {margin-bottom: 15px;}

.transition {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

body {
    background: $container-bg;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    overflow-x:hidden;
}
.admin-container {
    display: table;
    width: 100%;
}

p {
    font-size: 16px;
    font-family: 'Open Sans' sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #878787;
}
p:focus {
    border: none;
    outline: 0;
}
a, button {
    text-decoration: none;
    outline: none!important;
    color: #878787;

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;

}
a:hover,
a:focus {
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
h5 {
    font-size: 1em;
}
ul,
ol {
    padding-left: 0;
}
.btn:focus,
button:focus {
    box-shadow: none !important;
    outline: 0;
}
img {
    max-width: 100%;
}
.btn,
button,
input,
textarea {
    box-shadow: none;
    outline: 0 !important;
}
.no-padding {
    padding: 0 !important;
}
.progress-thin {
    border-radius: 0;
    height: 5px;
}
canvas {
    max-width: 100%;
}
.text-muted {
    font-size: 14px;
    &.muted-black {
        color: #333648 !important;
        font-weight: 600;
    }
}

/* Global Styles */

/* Main Styles */
.basix-container {
    display: table;
    min-height: 100vh;
    position: relative;
    width: 100%;
}
aside.left-panel {
    background: $menu-bg;
    display: table-cell;
    height: 100vh;
    min-height: 100%;
    padding: 0;
    vertical-align: top;
    width: 280px;
    transition: width 0.3s ease;
}

.navbar {
    background: #292b35;
    border-radius: 0;
    border: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;

    .navbar-header {
        background-color: #262832;
        float: left;
        //padding: 0 1.25em 0 0;
        /*customized style for nav header*/
        padding: 0.8em 1.25em 0.8em 0;
        position: relative;
        text-align: center;
        width: 100%;
    }
    .navbar-brand {
        display: inline-block;
        float: left;
        line-height: 3.5;
        margin: 0;
        padding: 0 0 7px 1.25em;
        img {
            max-width: 145px;
        }
        &.hidden {
            display: none;
        }
    }
    .main-menu {
        float: left;
        padding: 0 1.25em;
    }
    .menu-title {
        color: #41434d;
        clear: both;
        display: block;
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 700;
        line-height: 50px;
        padding: 0;
        text-transform: uppercase;
        width: 100%;
    }
    .navbar-nav {
        float: none;
        position: relative;
        li {
            width: 100%;
            &.active .menu-icon,
            &:hover .toggle_nav_button:before,
            .toggle_nav_button.nav-open:before {
                color: #fff !important;
            }
            .dropdown-toggle:after {
                display: none;
            }
            >a {
                background: none !important;
                color: #8b939b !important;
                display: inline-block;
                font-family: 'Open Sans';
                font-size: 14px;
                line-height: 30px;
                padding: 10px 0;
                position: relative;
                width: 100%;
                &:hover,
                &:hover .menu-icon {
                    color: #fff !important;
                }
                .menu-icon {
                    color: #8b939b;
                    float: left;
                    margin-top: 8px;
                    width: 55px;
                    text-align: left;
                    z-index: 9;
                }
                .menu-title-text {
                    font-size: 14px;
                }
                .badge {
                    border-radius: 0;
                    font-family: 'Open Sans';
                    font-weight: 600;
                    float: right;
                    margin: 6px 0 0 0;
                    padding: 0.4em 0.5em;
                }
            }
            &.menu-item-has-children {
                position: relative;
                a {
                    line-height: 30px;
                    &:before {
                        content: "\f105";
                        color: #8b939b;
                        font-family: 'Fontawesome';
                        font-size: 16px;
                        position: absolute;
                        top: 10px;
                        right: 0;
                        text-align: right;

                        -webkit-transition: all .25s ease;
                        -moz-transition: all .25s ease;
                        -ms-transition: all .25s ease;
                        -o-transition: all .25s ease;
                        transition: all .25s ease;
                    }
                    &:hover:before {
                        color: #fff;
                    }
                }
                .sub-menu {
                    background: $menu-bg;
                    border: none;
                    box-shadow: none;
                    overflow-y: hidden;
                    padding: 0 0 0 35px;
                    li {
                        position: relative;
                    }
                    i {
                        color: #c8c9ce;
                        float: left;
                        padding: 0;
                        position: absolute;
                        left: 0;
                        font-size: 14px;
                        top: 9px;
                    }
                    a {
                        padding: 2px 0 2px 30px;
                        &:before {
                            content: '';
                            display: none;
                        }
                        .menu-icon {
                            top: 3px;
                            text-align: left;
                            width: 25px;
                        }
                    }
                }
                &.show {
                    a:before {
                        content: "\f107";
                    }
                    .sub-menu {
                        max-height: 1000px;
                        opacity: 1;
                        position: static !important;
                    }
                }
            }
        }
    }
}
.navbar .navbar-nav>.active>a,
.navbar .navbar-nav>.active>a:focus,
.navbar .navbar-nav>.active>a:hover {
    color: #c8c9ce !important;
}
.navbar-nav li span.count {
    background: #a9d86e;
    border-radius: 50%;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 9px;
    font-weight: 700;
    float: right;
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin-right: 15px;
    text-align: center;
}
body.open {
    .navbar {
        .navbar-brand {
            &.hidden {
                display: block;
            }
        }
    }
}
.open aside.left-panel {
    max-width: 70px;
    width: 70px;
    .navbar {
        .navbar-header {
            padding: 0;
        }
        .navbar-brand {
            display: none;
            &.hidden {
                display: block !important;
                padding: 0 .9em 10px;
                text-align: center;
                width: 100%;
                img {
                    max-width: 100%;
                    margin: 0 auto;
                }
            }
            &.d-md-none {
                display: block !important;
                margin: 13px 0 0;
                min-height: 67px;
                padding: 0;
                text-align: center;
            }
        }
        .navbar-nav {
            &:before {
                display: none !important;
            }
            li {
                position: relative;
                a {
                    font-size: 0;
                    z-index: 0;
                    transition: none;
                    .menu-icon {
                        font-size: 20px;
                        z-index: -1;
                        text-align: center;
                        width: inherit;
                    }
                    .menu-title-text {
                        font-size: 0;
                    }
                    .badge {
                        display: none;
                    }
                }
                >a {
                    max-width: 60px;
                    padding-left: 0;
                }
                &.menu-item-has-children {
                    overflow: hidden;
                    a {
                        &:before {
                            content: '';
                            display: none;
                        }
                    }
                    ul {
                        padding-left: 0;
                    }
                    .sub-menu {
                        display: block;
                        left: inherit;
                        right: -180px;
                        top: 0;
                        li {
                            a {
                                display: block;
                                font-size: 14px;
                                max-width: inherit;
                                padding: 2px 15px 2px 25px;
                                width: 100%;
                                .menu-icon {
                                    text-align: center;
                                }
                            }
                        }
                    }
                    &.show {
                        overflow: visible;
                        .sub-menu {
                            position: absolute !important;
                        }
                    }
                }
                span.count {
                    display: none;
                    margin-right: 5px;
                    z-index: 1;
                }
                &.active {
                    a:after {
                        content: '';
                        display: none;
                    }
                }
            }
            .menu-title {
                font-size: 0;
                line-height: 0;
                opacity: 0;
                padding: 0;
            }
        }
    }
    .menutoggle {
        background-color: #dc3545;
        color: #fff !important;
        right: -20px;
        text-align: center;
    }
}

/* Right panel */

.right-panel {
    display: table-cell;
    padding-left: 0 !important;

    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
    .breadcrumbs {
        float: left;
        margin-top: 30px;
        padding: 0 1.875em;
        width: 100%;
        .breadcrumbs-inner {
            background-color: #fff;
        }
        .col-lg-8 {
            .page-header {
                float: left;
            }
        }
    }
    .page-header{
        min-height: 50px;
        margin: 0px;
        padding: 0px 15px;
        background: #ffffff;
        border-bottom: 0px;
        h1{
            font-size: 18px;
            padding: 15px 0;
        }
        .breadcrumb{
            margin: 0px;
            padding: 13.5px 0;
            background: #fff;
            text-transform: capitalize;
        }
        .breadcrumb>li+li:before{
            padding: 0 5px;
            color: #ccc;
            content: "/\00a0";
        }
    }
}
.right-panel header.header {
    background: $header-bg;
    border-bottom: 1px solid #e8e9ed;
    box-shadow: none;
    clear: both;
    display: inline-block;
    padding: 0 1.875em;
    width: 100%;
}
.open .right-panel {
    margin-left: -210px;
}
header.fixed-top {
    background: #fff;
    padding: 20px;
}
.header-menu .col-sm-7 {
    position: inherit;
}
.menutoggle {
    background-color: transparent;
    border-radius: 50%;
    color: #8b939b !important;
    cursor: pointer;
    font-size: .95em;
    height: 40px;
    line-height: 40px;
    width: 40px;
    margin: -20px 0 0;
    top: 50%;
    right: 1.25em;
    position: absolute;
    text-align: right;
}
.open .menutoggle i:before {
    content: "\f0a4";
}
.search-trigger {
    background: transparent;
    border: none;
    color: $menu-color;
    cursor: pointer;
    font-size: 16px;
    line-height: 5;
    padding: 0;
    width: 43px;
}
header .form-inline {
    background: #263238;
    display: none;
    height: 80px;
    margin: 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    .search-form {
        height: 100%;
        max-width: 1025px;
        margin: 0 auto;
        position: relative;
        input[type="text"] {
            background: #263238;
            border: none;
            border-radius: 0;
            box-shadow: none;
            color: #d3d3d3;
            font-size: 16px;
            height: inherit;
            margin-right: 0 !important;
            padding: 10px 36px 10px 15px;
            width: 100%;
        }
        input[type="text"].active,
        input[type="text"]:focus {
            border-color: rgba(0, 0, 0, 0.125);
            outline: 0;
        }
        button {
            background: transparent;
            border: none;
            color: #fff;
            font-size: 16px;
            position: absolute;
            right: 15px;
            top: 50%;
            margin-top: -14px !important;
        }
        button:active,
        button:focus,
        button:visited,
        .btn-outline-success:hover {
            background: transparent;
            border: none !important;
            box-shadow: none;
            outline: 0 !important;
        }
        &.close {
            display: none;
        }
    }
}
.header-left.open .form-inline {
    display: block;
}
.header-left .dropdown {
    display: inline-block;
    .dropdown-toggle {
        background: transparent;
        border: none;
        color: $menu-color;
        font-size: 16px;
        line-height: 5;
        padding-top: 0;
        padding-bottom: 0;
        &:after {
            display: none;
        }
        .count {
            border-radius: 50%;
            color: #fff;
            font-size: 11px;
            height: 15px;
            width: 15px;
            line-height: 15px;
            right: 0;
            top: 23px;
            position: absolute;
        }
        &:active,
        &:focus,
        &:visited {
            background: none !important;
            border-color: transparent !important;
            color: #292b35 !important;
        }
    }
    .dropdown-menu {
        background: $header-bg;
        border: none;
        border-radius: 0;
        box-shadow: none;
        top: 80px !important;
        p {
            font-size: 15px;
            margin: 0;
            padding: 5px 15px;
        }
        .dropdown-item {
            color: $menu-color;
            font-size: 13px;
            padding: 10px 15px 3px;
            text-overflow: ellipsis;
            .photo {
                float: left;
                margin-right: 15px;
                width: 25px;
            }
            .message {
                .name {
                    margin-top: -5px;
                }
                .time {
                    font-size: 11px;
                }
                p {
                    clear: both;
                    font-size: 14px;
                    margin: 0;
                    padding: 0;
                    text-overflow: ellipsis;
                }
            }
            &:hover {
                background: transparent;
            }
        }
    }
}
.header-menu {
    .col-sm-5 {
        .dropdown {
            line-height: 5;
            margin-top: 0 !important;
            .dropdown-toggle {
                line-height: 5;
            }
        }
    }
}
.dropdown-menu {
    border-radius: 0;
    transform: none !important;
}

.for-notification {
    .dropdown-menu {
        .dropdown-item {
            padding: 5px 15px !important;
            text-overflow: ellipsis;
            i {
                float: left;
                font-size: 14px;
                margin: 5px 5px 0 0;
                text-align: left;
                width: 20px;
            }
            p {
                padding: 0 !important;
                text-overflow: ellipsis;
            }
        }
    }
}
.user-area {
    float: right;
    padding-right: 0;
    position: relative;
    .user-menu {
        background: $header-bg;
        border: none;
        font-family: 'Open Sans';
        left: inherit !important;
        right: 0;
        top: 83px !important;
        margin: 0;
        max-width: 150px;
        padding: 5px 10px;
        position: absolute;
        width: 100%;
        z-index: 999;
        min-width: 150px;
        .nav-link {
            color: $menu-color;
            display: block;
            font-size: 14px;
            line-height: 22px;
            padding: 5px 0;
        }
    }
    .user-avatar {
        float: right;
        width: 32px;
    }
    .user-info .name {
        color: #8c8c8c;
        font-size: 14px;
        position: relative;
        text-transform: uppercase;
    }
    .count {
        background: #d9534f;
        border-radius: 50%;
        color: #fff;
        font-family: 'Open Sans';
        font-size: 9px;
        font-weight: 700;
        float: right;
        height: 20px;
        width: 20px;
        line-height: 20px;
        text-align: center;
    }
    .dropdown-toggle {
        line-height: 5;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:after {
            display: none;
        }
    }
}
#menuToggle2 {
    padding-left: 25px;
}
#language-select {
    color: #f1f2f7;
    float: right;
    margin: 7px 20px 0 0;
    max-width: 80px;
    &:focus,
    &:visited {
        border: none;
        outline: 0;
    }
    .flag-icon {
        line-height: 5;
    }
    .dropdown-toggle::after {
        display: none;
    }
    .dropdown-menu {
        background: $header-bg;
        border: none;
        border-radius: 0;
        left: -8px !important;
        min-width: inherit;
        padding: 0 5px;
        top: 81px !important;
        .dropdown-item {
            line-height: 1.5;
            margin-right: 0;
            max-width: 25px;
            padding: 0;
            &:hover {
                background: $header-bg;
            }
            .flag-icon {
                line-height: 1.5;
                margin-right: 0;
                width: 25px;
            }
        }
    }
}
.notification-show + .dropdown-menu,
.message-show + .dropdown-menu ,
.language-show + .dropdown-menu  {
    display: block;
}
.content {
    float: left;
    padding: 1.875em;
    width: 100%;
}
.card{
    margin-bottom: 1.875em;
    border-radius: 0;
    padding: 0;
    .card-top,
    .card-footer {
        background: #fafafa;
        border-bottom: 1px solid #e8e9ef;
        float: left;
        padding: .75em 1.125em;
        width: 100%;
        .card-title {
            color: #343a40;
            font-size: .875em;
            font-weight: 600;
            padding-top: 5px;
            text-transform: capitalize;
        }
        button {
            background: none;
            border: none;
            box-shadow: none;
            color: #868e96;
            font-size: 12px;
            padding: 0 5px;
        }
        &[class*="bg"] {
            .card-title {
                color: #fff;
            }
            button {
                color: #fff;
            }
        }
        &.p-0 {
            .card-title {
                padding: 1.125em;
            }
        }
        &.bg-flat-color-1 {
            background: #5c6bc0;
            border: none;
        }
        &.bg-flat-color-2 {
            background: #42a5f5;
            border: none;
        }
        &.bg-flat-color-3 {
            background: #ffa726;
            border: none;
        }
        &.bg-flat-color-4 {
            background: #ef5350;
            border: none;
        }
        &.bg-flat-color-5 {
            background: #4dbd74;
            border: none;
        }
        &.bg-flat-color-6 {
            background: #66bb6a;
            border: none;
        }
    }
    .card-left {
        width: 60%;
    }
    .card-right {
        width: 40%;
    }
    .card-body {
        float: left;
        padding: 1.25em;
        position: relative;
        width: 100%;
    }
    h4{
        font-size: 1.1rem;
    }
    .user-header {
        .media{
            img{
                border: 5px solid rgba(255,255,255,0.3);
                border-radius: 50%;
                -webkit-border-radius: 50%;
            }
        }
    }
    .card-header{
        .card-actions{
            button{
                display: block;
                float: left;
                width: 50px;
                padding: .75rem 0;
                margin: 0!important;
                color: #fff;
                outline: 0;
                text-align: center;
                background: transparent;
                border: 0;
                border-left: 1px solid hsla(210,8%,51%,.4);
            }
        }
    }
    .card-footer{
        padding: 0.65rem 1.25rem;
        background-color: #f0f3f5;
        border-top: 1px solid #c2cfd6;

        & ul li {
            display: table-cell;
            padding: 0 1rem;
            text-align: center;
        }
    }
    .nav-tabs {
        margin-bottom: -1px;
        a {
            border-radius: 0;
            color: #b5bcc2;
            font-size: 12px;
            font-weight: 700;
            padding: .25em .5em;
            text-transform: uppercase;
            &:hover {
                border-color: transparent;
            }
        }
        .active {
            a {
                border-color: #e8e9ef;
                color: #868e96 !important;
            }
        }
    }

}
.action-menu {
    .dropdown-toggle i {
        font-size: 12px;
    }
    .dropdown-toggle::after {
        display: none;
    }
}

.flotBar1,
.flotLine1 {
    height: 75px;
}
// #flotRealtime2 {
//     position: absolute;
//     top: 0;
// }
.traffic-chart .ct-area {
  fill-opacity: .7;
}
.traffic-chart .ct-series-a .ct-area,
.traffic-chart .ct-series-a .ct-slice-donut-solid,
.traffic-chart .ct-series-a .ct-slice-pie {
  fill: #66bb6a;
}
.traffic-chart .ct-series-b .ct-area,
.traffic-chart .ct-series-b .ct-slice-donut-solid,
.traffic-chart .ct-series-b .ct-slice-pie {
  fill: #ef5350;
}
.traffic-chart .ct-series-c .ct-area,
.traffic-chart .ct-series-c .ct-slice-donut-solid,
.traffic-chart .ct-series-c .ct-slice-pie {
  fill: #5c6bc0;
}

.flotRealtime2 {
    height: 445px;
}
.traffic-chart {
    height: 323px;
}
#flotBar2 {
    height: 168px;
}
.gauge {
    &.g1 svg {
        fill: #ffa726 !important;
    }
}
#area_chart {
    max-height: 280px;
}
#flotLine5 {
    height: 50px;
}
#flotPie1 {
    height: 90px;
    .pieLabel {
        display: none;
    }
    .legend tr {
        padding-bottom: 5px;
    }
    .legendColorBox {
        float: left;
        margin: 2px 5px 0 0;
        > div {
            border: none !important;
        }
    }
    .legendLabel {
        color: #868e96;
        font-family: 'Open Sans';
        font-size: 12px;
    }
}

/* Stats Table */

.table-stats {
    table {
        font-family: 'Open Sans';
        th,
        td {
            border: none;
            border-bottom: 1px solid #e8e9ef;
            color: #868e96;
            font-size: 12px;
            font-weight: normal;
            padding: .75em 1.25em;
            text-transform: uppercase;
            img {
                margin-right: 10px;
                max-width: 45px;
            }
            .name {
                color: #343a40;
                font-size: 14px;
                text-transform: capitalize;
            }
        }
        td {
            color: #343a40;
            font-size: 14px;
            font-weight: 600;
            text-transform: capitalize;
            vertical-align: middle;
        }
    }
}

/* Timeline */

.timeline {
    li {
        font-family: 'Open Sans';
        list-style: none;
        padding: 5px 0;
        position: relative;
        i {
            border-radius: 50%;
            color: #fff;
            font-size: 12px;
            height: 30px;
            width: 30px;
            line-height: 30px;
            text-align: center;
        }
        span {
            color: #868e96;
            display: block;
            font-size: 14px;
            a {
                color: #343a40;
            }
        }
        .time {
            font-size: 12px;
            padding-bottom: 15px;
        }
        img {
            margin: 10px 5px 15px 0;
            max-height: 40px;
        }
    }
    .media-body {
        border-bottom: 1px solid #e8e9ef;
    }
}

/* Weather */

.widget {
    .card-footer {
        border-top-color: #e8e9ef;
    }
    .weather-footer {
        li {
            float: left;
            position: relative;
            width: 33.33%;
            &:before {
                content: '';
                background: #e8e9ef;
                height: 32px;
                width: 1px;
                top: 5px;
                right: 7.5px;
                position: absolute;
            }
            &:last-child:before {
                display: none;
            }
            span {
                display: block;
            }
        }
    }
    .pt-0 {
        padding-top: 0 !important;
    }
    .social {
        .rounded-circle {
            max-width: 130px;
            margin-top: -65px;
        }
        .weather-footer i {
            color: #868e96;
            font-size: 20px;
            line-height: 1;
            margin-top: -3px;
        }
    }
}

/* Tabs */
.nav-tabs {
    a.active{
        color: #555;
        cursor: default;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
    }
    .dropdown {
        .dropdown-menu {
            top: 100% !important;
        }
    }
}
.custom-tab .nav-tabs > a.active, .custom-tab .nav-tabs > .active > a:focus, .custom-tab .nav-tabs > li.active > a:hover {
    border-color: transparent transparent;
    color: #ff2e44;
    position: relative;
}
.custom-tab .nav-tabs > a.active > a:after, .custom-tab .nav-tabs > li.active > a:focus:after, .custom-tab .nav-tabs > li.active > a:hover:after{
    background: #ff2e44;
    bottom: -1px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 999;
}
.card {
    .card-header {
        .card-actions {
            float: right;
            [class*="btn"] {
                border-left: 1px solid rgba(120, 130, 140, 0.4);
                color: #878787;
                display: inline-block;
                font-size: 16px;
                float: left;
                padding: 0 7px;
                width: inherit;
                text-align: center;
            }
        }
    }
}
.social-buttons {
    .card-body {
        p {
            button {
                padding-top: 0;
                padding-left: 0;
                padding-bottom: 0;
            }
        }
    }
    .only-icon {
        .card-body {
            p {
                button {
                    padding: 0;
                }
            }
        }
    }
    .social i {
        padding: 0 10px;
        width: inherit !important;
    }
    .only-text {
        p {
            button {
                padding: 0 .5rem;
            }
        }
    }
}
.buttons {
    button {
        margin: 2px 0;
    }
}


/* Ribons */
.corner-ribon {
    text-align:center;
    width:71px;
    height:71px;
    position:absolute;
    right:0;
    top:0;
    font-size:20px;
}
.corner-ribon i {
    padding: 10px 0 0 35px;
    color: #fff;
}
.black-ribon {
    // background: url("../../images/twitter_corner_black.png") no-repeat;
}
.blue-ribon {
    // background:url("../../images/twitter_corner_blue.png") no-repeat;
}
.twt-feed .wtt-mark {
    color: rgba(255,255,255,0.15);
    font-size: 160px;
    position: absolute;
    top: 10px;
    left: 40%;
}
.twt-feed {
    -webkit-border-radius: 4px 4px 0 0;
    color: #FFFFFF;
    padding: 40px 10px 10px;
    position: relative;
    min-height: 170px;
}
.weather-category {
    padding: 15px 0;
    color: #74829C;
    ul li{
        width: 32%;
        text-align: center;
        border-right: 1px solid #e6e6e6;
        display: inline-block;
    }
}
.twt-feed.blue-bg {
    background: #58C9F3;
}
.twt-category{
    display: inline-block;
    margin-bottom: 11px;
    margin-top: 10px;
    width: 100%;
    ul li{
        color: #bdbdbd;
        font-size: 13px;
    }
}
.twt-footer {
    padding: 12px 15px;
}
.twt-footer, .twt-footer a {
    color: #d2d2d2;
}

/* Button Reset */
.btn, .button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    transition: all .15s ease-in-out;
    border-radius: 0;
    cursor: pointer;
}

/* Icons */
.icon-section {
    margin: 0 0 3em;
    clear: both;
    overflow: hidden;
}
.icon-container {
    width: 240px;
    padding: .7em 0;
    float: left;
    position: relative;
    text-align: left;
}
.icon-container [class^="ti-"],
.icon-container [class*=" ti-"] {
    color: #000;
    position: absolute;
    margin-top: 3px;
    transition: .3s;
}
.icon-container:hover [class^="ti-"],
.icon-container:hover [class*=" ti-"] {
    font-size: 2.2em;
    margin-top: -5px;
}
.icon-container:hover .icon-name {
    color: #000;
}
.icon-name {
    color: #aaa;
    margin-left: 35px;
    font-size: 14px;
    transition: .3s;
}
.icon-container:hover .icon-name {
    margin-left: 45px;
}

.fontawesome-icon-list {
    .page-header{
        border-bottom: 1px solid #C9CDD7;
        padding-bottom: 9px;
        margin: 30px 0px 27px 0px;
    }
    h2{
        margin-top: 0;
        font-size: 20px;
        font-weight: 300;
    }
    i{
        font-style: 16px;
        padding-right: 10px;
    }
}


.social-box {
    i {
        line-height: 110px;
    }
    ul {
        display: inline-block;
        margin: 7px 0 0;
        padding: 10px;
        width: 100%;
        li {
            color: #949CA0;
            font-size: 14px;
            font-weight: 700;
            padding: 0 10px 0 0;
            text-align: right;
            &:last-child {
                padding-left: 10px;
                padding-right: 0;
                text-align: left;
            }
            span {
                font-size: 14px;
            }
        }
    }
}



.login-logo {
  text-align: center;
  margin-bottom: 15px;
  span{
      color: #ffffff;
      font-size: 24px;
  }
}

.login-content {
    max-width: 540px;
    margin: 8vh auto;
}
.login-form {
  background: #ffffff;
  padding: 30px 30px 20px;
  border-radius: 2px;
}
.login-form h4 {
  color: #878787;
  text-align: center;
  margin-bottom: 50px;
}
.login-form .checkbox {
  color: #878787;
}
.login-form .checkbox label {
  text-transform: none;
}
.login-form .btn {
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  padding: 15px;
  border: 0px;
}
.login-form label {
  color: #878787;
  text-transform: uppercase;
}
.login-form label a {
  color: #ff2e44;
}
.social-login-content {
  margin: 0px -30px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 30px 0px;
  background: #fcfcfc;
}
.social-button {
  padding: 0 30px;
  .facebook{
    background: #3b5998;
    color: #fff;
    &:hover{
        background: #344e86;
    }
}
.twitter{
    background: #00aced;
    color: #fff;
    &:hover{
        background: #0099d4;
    }
}

}
.social-button i {
  padding: 19px;
}
.register-link a {
  color: #ff2e44;
}
.cpu-load {
  width: 100%;
  height: 272px;
  font-size: 14px;
  line-height: 1.2em;
}
.cpu-load-data-content {
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
}
.cpu-load-data {
  margin-bottom: 30px;
}
.cpu-load-data li {
  display: inline-block;
  width: 32.5%;
  text-align: center;
  border-right: 1px solid #e7e7e7;
}
.cpu-load-data li:last-child {
  border-right: 0px;
}
.nestable-cart {
  overflow: hidden;
}

/* Forms */
.input-group-addon {
    background-color: transparent;
    border-left: 0;
}
.input-group-addon, .input-group-btn {
    white-space: nowrap;
    vertical-align: middle;
}
.input-group-addon {
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #495057;
    text-align: center;
    background-color: #e9ecef;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}


.flotTip {
  background: #252525;
  border: 1px solid #252525;
  padding: 5px 15px;
  color: #ffffff;
}
.flot-container {
  box-sizing: border-box;
  width: 100%;
  height: 275px;
  padding: 20px 15px 15px;
  margin: 15px auto 30px;
  background: transparent;
}
.flot-pie-container {
  height: 275px;
}
.flotBar-container {
  height: 275px;
}
.flot-line {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.2em;
}
.legend table {
  border-spacing: 5px;
}
#chart1,
#flotBar,
#flotCurve {
  width: 100%;
  height: 275px;
}
.morris-hover {
  position: absolute;
  z-index: 1;
}
.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight: bold;
  margin: 0.25em 0;
}
.morris-hover.morris-default-style .morris-hover-point {
  white-space: nowrap;
  margin: 0.1em 0;
}
.morris-hover.morris-default-style {
  border-radius: 2px;
  padding: 10px 12px;
  color: #666;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  color: #fff!important;
}
.morris-hover-point {
  color: rgba(255, 255, 255, 0.8) !important;
}
#morris-bar-chart {
  height: 285px;
}

.map, .vmap {
  width: 100%;
  height: 400px;
}

.btn-toolbar {
    float: left !important;
    .btn-outline-secondary:not([disabled]):not(.disabled):active,
    .btn-outline-secondary:not([disabled]):not(.disabled).active,
    .show > .btn-outline-secondary.dropdown-toggle {
        background-color: #212529;
        border-color: #212529;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #fff;
    }
    .btn-outline-secondary:hover {
        background-color: #212529;
        border-color: #212529;
        color: #fff;
    }
}










/*    Widget One
---------------------------*/
.dib{
    display: inline-block;
}
.stat-widget-one .stat-icon {
  vertical-align: top;
}
.stat-widget-one .stat-icon i {
  font-size: 30px;
  border-width: 3px;
  border-style: solid;
  border-radius: 100px;
  padding: 15px;
  font-weight: 900;
  display: inline-block;
}
.stat-widget-one .stat-content {
  margin-left: 30px;
  margin-top: 7px;
}
.stat-widget-one .stat-text {
  font-size: 14px;
  color: #868e96;
}
.stat-widget-one .stat-digit {
  font-size: 24px;
  color: #373757;
}
/*    Widget Two
---------------------------*/
.stat-widget-two {
  text-align: center;
}
.stat-widget-two .stat-digit {
  font-size: 1.75rem;
  font-weight: 500;
  color: #373757;
}
.stat-widget-two .stat-digit i {
  font-size: 18px;
  margin-right: 5px;
}
.stat-widget-two .stat-text {
  font-size: 16px;
  margin-bottom: 5px;
  color: #868e96;
}
.stat-widget-two .progress {
  height: 8px;
  margin-bottom: 0;
  margin-top: 20px;
  box-shadow: none;
}
.stat-widget-two .progress-bar {
  box-shadow: none;
}
/*    Widget Three
---------------------------*/
.stat-widget-three .stat-icon {
  display: inline-block;
  padding: 33px;
  position: absolute;
  line-height: 21px;
}
.stat-widget-three .stat-icon i {
  font-size: 30px;
  color: #ffffff;
}
.stat-widget-three .stat-content {
  text-align: center;
  padding: 15px;
  margin-left: 90px;
}
.stat-widget-three .stat-digit {
  font-size: 30px;
}
.stat-widget-three .stat-text {
  padding-top: 4px;
}
.home-widget-three .stat-icon {
  line-height: 19px;
  padding: 27px;
}
.home-widget-three .stat-digit {
  font-size: 24px;
  font-weight: 300;
  color: #373757;
}
.home-widget-three .stat-content {
  text-align: center;
  margin-left: 60px;
  padding: 13px;
}
.stat-widget-four {
  position: relative;
}
.stat-widget-four .stat-icon {
  display: inline-block;
  position: absolute;
  top: 5px;
}
.stat-widget-four i {
  display: block;
  font-size: 36px;
}
.stat-widget-four .stat-content {
  margin-left: 40px;
  text-align: center;
}
.stat-widget-four .stat-heading {
  font-size: 20px;
}
.stat-widget-five .stat-icon {
  border-radius: 100px;
  display: inline-block;
  position: absolute;
}
.stat-widget-five i {
  border-radius: 100px;
  display: block;
  font-size: 36px;
  padding: 30px;
}
.stat-widget-five .stat-content {
  margin-left: 100px;
  padding: 24px 0;
  position: relative;
  text-align: right;
  vertical-align: middle;
}
.stat-widget-five .stat-heading {
  text-align: right;
  padding-left: 80px;
  font-size: 20px;
  font-weight: 200;
}
.stat-widget-six {
  position: relative;
}
.stat-widget-six .stat-icon {
  display: inline-block;
  position: absolute;
  top: 5px;
}
.stat-widget-six i {
  display: block;
  font-size: 36px;
}
.stat-widget-six .stat-content {
  margin-left: 40px;
  text-align: center;
}
.stat-widget-six .stat-heading {
  font-size: 16px;
  font-weight: 300;
}
.stat-widget-six .stat-text {
  font-size: 12px;
  padding-top: 4px;
}
.stat-widget-seven .stat-heading {
  text-align: center;
}
.stat-widget-seven .gradient-circle {
  text-align: center;
  position: relative;
  margin: 30px auto;
  display: inline-block;
  width: 100%;
}
.stat-widget-seven .gradient-circle i {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 35px;
  font-size: 30px;
}
.stat-widget-seven .stat-footer {
  text-align: center;
  margin-top: 30px;
}
.stat-widget-seven .stat-footer .stat-count {
  padding-left: 5px;
}
.stat-widget-seven .count-header {
  color: #252525;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
}
.stat-widget-seven .stat-count {
  font-size: 18px;
  font-weight: 400;
  color: #252525;
}
.stat-widget-seven .analytic-arrow {
  position: relative;
}
.stat-widget-seven .analytic-arrow i {
  font-size: 12px;
}
/* Stat widget Eight
--------------------------- */
.stat-widget-eight {
  padding: 15px;
}
.stat-widget-eight .header-title {
  font-size: 20px;
  font-weight: 300;
}
.stat-widget-eight .ti-more-alt {
  color: #878787;
  cursor: pointer;
  left: -5px;
  position: absolute;
  transform: rotate(90deg);
}
.stat-widget-eight .stat-content {
  margin-top: 50px;
}
.stat-widget-eight .stat-content .ti-arrow-up {
  font-size: 30px;
  color: #28a745;
}
.stat-widget-eight .stat-content .stat-digit {
  font-size: 24px;
  font-weight: 300;
  margin-left: 15px;
}
.stat-widget-eight .stat-content .progress-stats {
  color: #aaadb2;
  font-weight: 400;
  position: relative;
  top: 10px;
}
.stat-widget-eight .progress {
  margin-bottom: 0;
  margin-top: 30px;
  height: 7px;
  background: #EAEAEA;
  box-shadow: none;
}
.stat-widget-nine .all-like {
  float: right;
}
.stat-widget-nine .stat-icon i {
  font-size: 22px;
}
.stat-widget-nine .stat-text {
  font-size: 14px;
}
.stat-widget-nine .stat-digit {
  font-size: 14px;
}
.stat-widget-nine .like-count {
  font-size: 30px;
}
.horizontal {
  position: relative;
}
.horizontal:before {
  background: #ffffff;
  bottom: 0;
  content: "";
  height: 38px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 1px;
}
.widget-ten span i {
  color: #ffffff;
  opacity: 0.5;
}
.widget-ten h5 {
  color: #ffffff;
}
.widget-ten p {
  color: #ffffff !important;
  opacity: 0.75;
}

/* Mixed Styles */

.badges {
    h1,h2,h3,h4,h5,h6 {
        margin: 5px 0;
    }
}
.vue-lists {
    ul,ol {
        padding-left: 30px;
    }
}
.card .dropdown.float-right.show {
    .dropdown-menu {
        left: inherit !important;
        right: 0 !important;
        top: 93% !important;
        display: block !important;
    }
}
.dataTables_paginate {
    .pagination {
        border-radius: 0;
        li {
            border-radius: 0 !important;
            a {
                border-radius: 0 !important;
                color: #292b35;
            }
            &.active {
                a {
                    background: #292b35;
                    border-color: #292b35;
                    color: #fff;
                }
            }
            &:hover {
                a {
                    background: #292b35;
                    border-color: #292b35;
                    color: #fff;
                }
            }
        }
    }
}

/* Footer */

footer.site-footer {
    padding: 0 1.875em;
    .footer-inner {
        color: #78909c;
        font-family: 'Open Sans';
        font-size: 14px;
        line-height: 1.5;
        padding: 2.45em 1.125em;
        a {
            color: #6a7074;
        }
    }
}


// Responsive Styles

@media (max-width: 1680px) {
    .timeline li {
        padding: 2px 0;
    }
}
@media (max-width: 1368px) {
    .twt-category {
        margin-bottom: 0;
    }
    .twt-feed {
        max-height: 155px;
        img {
            height: 75px;
            width: 75px;
        }
    }
    .stat-widget-one .stat-content {
        margin-left: 15px;
    }
    .card-body {
        padding: 15px;
    }
    .badges button {
        margin: 2px 0;
    }
    #g2 {
        padding-top: 33px;
    }
    .timeline li .time {
        padding-bottom: 10px;
    }
    .height-93 {
        height: 75px;
    }
    .height-100 {
        height: 90px;
    }
    .widget {
        .row.p-4.height-93 {
            padding: 1.125em 1.75em !important;
        }
        .card-footer.p-3.bg-white.text-center {
            padding: .9em !important;
        }
    }
    .weather {
        h3.fw-r.text-white {
            font-size: 1.125em;
        }
        span {
            font-size: 12px;
        }
    }
}

@media (max-width: 1024px) {
    aside.left-panel {
        max-width: 60px;
        width: 60px;
        .navbar {
            .navbar-header {
                padding: 0;
            }
            .navbar-brand {
                display: none;
                &.hidden {
                    display: block !important;
                    padding: 0 0 10px;
                    text-align: center;
                    width: 100%;
                    img {
                        max-width: 100%;
                        margin: 0 auto;
                    }
                }
                &.d-md-none {
                    display: block !important;
                    margin: 13px 0 0;
                    min-height: 67px;
                    padding: 0;
                    text-align: center;
                }
            }
            .navbar-nav {
                &:before {
                    display: none !important;
                }
                li {
                    position: relative;
                    a {
                        font-size: 0;
                        z-index: 0;
                        transition: none;
                        .menu-icon {
                            font-size: 20px;
                            z-index: -1;
                            text-align: center;
                            width: inherit;
                        }
                        .menu-title-text {
                            font-size: 0;
                        }
                        .badge {
                            display: none;
                        }
                    }
                    >a {
                        max-width: 60px;
                        padding-left: 0;
                    }
                    &.menu-item-has-children {
                        overflow: hidden;
                        a {
                            &:before {
                                content: '';
                                display: none;
                            }
                        }
                        ul {
                            padding-left: 0;
                        }
                        .sub-menu {
                            display: block;
                            left: inherit;
                            right: -160px;
                            top: 0;
                            li {
                                a {
                                    display: block;
                                    font-size: 14px;
                                    max-width: inherit;
                                    padding: 2px 15px 2px 35px;
                                    width: 100%;
                                    .menu-icon {
                                        text-align: center;
                                    }
                                }
                            }
                            i {
                                left: 10px;
                            }
                        }
                        &.show {
                            overflow: visible;
                            .sub-menu {
                                position: absolute !important;
                            }
                        }
                    }
                    span.count {
                        display: none;
                        margin-right: 5px;
                        z-index: 1;
                    }
                    &.active {
                        a:after {
                            content: '';
                            display: none;
                        }
                    }
                }
                .menu-title {
                    font-size: 0;
                    line-height: 0;
                    opacity: 0;
                    padding: 0;
                }
            }
        }
        .menutoggle {
            display: none;
        }
    }
    .navbar .main-menu {
        padding: 0;
    }
    .search-trigger,
    .header-left .dropdown .dropdown-toggle,
    .header-menu .col-sm-5 .dropdown .dropdown-toggle,
    #language-select .flag-icon,
    .header-menu .col-sm-5 .dropdown {
        line-height: 3;
    }
    #language-select,
    .user-area .dropdown-toggle,
    header .form-inline {
        height: 48px;
    }
    .header-left .dropdown .dropdown-menu {
        top: 47px !important;
    }
    #language-select .dropdown-menu {
        top: 49px !important;
    }
    .user-area .user-menu {
        top: 51px !important;
    }
    .content {
        padding: 1.25em;
        // div[class*="col"] {
        //     padding-left: 7.5px;
        //     padding-right: 7.5px;
        // }
    }
    .flotRealtime2 {
        height: 330px;
    }
    .card {
        margin-bottom: 1.25em;
        .card-header {
            position: relative;
            strong {
                display: block;
            }
            small {
                float: left;
            }
            .card-actions {
                right: 0;
                top: .75rem;
                position: absolute;
            }
        }
    }
    .card-footer.bg-white.br-0.pl-5.pr-5.pt-0.pb-5 {
        padding-bottom: 1.5em !important;
        padding-left: 1em !important;
        padding-right: 1em !important;
    }
    #g2 {
        height: auto !important;
        padding-top: 7px;
    }
    #flotBar2 {
        height: 150px;
    }
    #g1 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        padding-top: 0 !important;
    }
    .card-footer.bg-white [class*="float"] {
        display: block;
        float: none !important;
        text-align: center;
        &.currency {
            display: inline-block;
        }
        &.fa {
            display: inline-block;
            float: left !important;
        }
    }
    #traffic-chart {
        height: 232px !important;
    }
    i.p-4.font-3xl.width-90.text-center.mr-3.float-left.text-light {
        font-size: 1.8125em;
        width: 75px;
    }
    .card i + h4 {
        display: inline;
        padding-top: 1em !important;
    }
    .timeline li img {
        margin: 0px 5px 5px 0;
    }
    .timeline li span {
        padding-bottom: 8px !important;
    }
    .card-footer.bg-white.br-0.pl-5.pr-5.pt-1.pb-4.mb-3 {
        padding-left: 1em !important;
        padding-right: 1em !important;
    }
    .font-4xl {
        font-size: 2.75em;
    }
    .media.p-4.height-100,
    .widget .row.p-4.height-93 {
        padding: 1rem !important;
    }
    .height-100 {
        height: 63px;
    }
    .widget .social {
        .rounded-circle {
            max-width: 60px;
            margin-top: 8px;
        }
    }
    footer.site-footer {
        padding: 0 1.125em;
        .footer-inner {
            padding: 1.75em 1em;
        }
    }
}

@media (max-width: 992px) {
    [class*="col"].no-padding {
        flex: none;
    }
}
@media (max-width: 575.99px) {
    body {
        display: block;
    }
    aside.left-panel {
        display: block;
        height: auto;
        max-width: inherit;
        min-height: inherit;
        padding: 0 15px;
        width: 100%;
        .navbar {
            margin-bottom: 0;
            width: 100%;
            .navbar-header {
                height: 50px;
            }
            .navbar-brand {
                border-bottom: none;
                display: inline-block;
                float: left;
                line-height: 1;
                margin-top: 11px;
                padding-left: 0;
                min-height: inherit;
                &.hidden {
                    display: none !important;
                }
            }
            .navbar-toggler {
                float: right;
                margin-top: 8px;
            }
            .main-menu {
                width: 100%;
                .navbar-nav {
                    text-align: left;
                    width: 100%;
                    li {
                        position: relative;
                        a {
                            font-size: 14px;
                            max-width: inherit;
                            position: relative;
                            width: 100%;
                        }
                        > a {
                            padding: 5px 0;
                        }
                        .menu-icon {
                            font-size: 14px;
                            margin-right: 10px;
                            width: initial;
                        }
                        &.menu-item-has-children {
                            a:before {
                                top: 5px;
                            }
                            .sub-menu {
                                height: 0;
                                left: 15px;
                                right: inherit;
                                position: initial !important;
                                width: 100%;
                                &.show {
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
            .menu-title {
                line-height: 30px;
                padding: 0;
            }
        }
    }
    .menutoggle {
        display: none !important;
    }
    .right-panel {
        display: block;
        header.header {
            padding: 5px 10px 1px 5px;
            div[class*="col"] {
                width: initial;
            }
            .col-sm-7 {
                float: left;
            }
            .col-sm-5 {
                float: right;
            }
        }
        .breadcrumbs {
            padding: 10px 15px;
            div[class*="col"] {
                padding: 0;
            }
            .page-header {
                min-height: inherit;
                padding: 0;
                h1 {
                    padding: 5px 0;
                }
                &.float-right {
                    float: left;
                    text-align: left;
                    width: 100%;
                    .breadcrumb {
                        padding: 0;
                    }
                }
            }
        }
        .content {
            padding: 15px;
            .card {
                .card-title {
                    margin-bottom: 0;
                }
                .card-footer {
                    padding: 15px 5px;
                    ul {
                        margin: 0;
                        li {
                            float: left;
                            margin: 5px 0;
                            padding: 0 10px;
                            width: 33.33%;
                        }
                    }
                }
            }
            .nav-tabs,
            .nav-pills {
                .nav-link {
                    padding: .5rem;
                }
            }
            .tab-content.pl-3 {
                padding-left: 0 !important;
            }
            #bootstrap-data-table_wrapper {
                font-size: 14px;
                padding: 0;
                div[class*="col"] {
                    padding: 0;
                }
                .table td, .table th {
                    padding: 5px;
                }
            }
        }
    }
    footer.site-footer {
        div[class*="col"] {
            text-align: center !important;
        }
    }
}

/* 8-5-2019 */