<template>
  <div class="animated fadeIn">
     <h4>Edit Tag</h4> 
     <br>
        
        <div class="card">
            <form @submit.prevent="UpdateData">
                
                <div class="card-body card-block">

                    <div class="row">
                        <div class="form-row col-md-12">
                            <div class="form-group col-md-6">
                                <label for="tag" class=" form-control-label">Tag</label>
                                <input type="text" id="tag" v-model="tag" placeholder="Enter Tag.." class="form-control">
                                <div class="input-group" v-if="has_error">
                                    <span class="text-danger" v-for="tag in errors.tag"> {{tag}}</span>            
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>    
                </div>
                <div class="card-header pull-right card-header-no-backgroup">
                    <router-link :to="{name: 'tag-index'}"><button type="button" class="btn btn-danger " >
                        <i class="fa fa-times"></i></i> Cancel
                    </button></router-link>
                    <button type="" class="btn btn-primary">
                        <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                    
                </div>
            </form>
        </div>

    </div>
  </div>
</template>

<script>

export default {
    name: 'forms',

    data () {
        return {
        
        tag:'',
        code:'',
        id:0,   
        has_error: false,
        errors:[],
        redirect_params:[],

        }
    },
    

    created(){        
        this.id = this.$route.params.id;        
        this.getData(this.id)

    },
    mounted(){
        

    },
    methods: {
        UpdateData(){
            let loader = this.$loading.show();
            this.has_error = false
            
            var formData = new FormData();
            formData.append('tag',this.tag);
            formData.append('id',this.id);

            this.$http.post('/tag/update',formData)
            .then(
                res=>{
                    loader.hide()
                    this.$router.push({
                        name:'tag-show',
                        params:{
                            id: res.data.data.id,
                        }
                    });
                }
            )
            .catch(
                err=>{
                    loader.hide()
                    if(err.response.status === 422){
                        this.has_error = true;
                        this.errors = err.response.data.errors || {}
                    }
                    else{                        
                        this.$toast.error({
                            title:'Update',
                            message:'Update record failed',
                        })
                    }
                }
            )
        },
        getData(id = 0){

            this.has_error = false
            var formData =  new FormData();
            formData.set('id',id)
            this.$http.get('/tag/show?id='+id)
            .then(
                (res) =>{
                    this.tag = res.data.data.tag;
                }
            )
            .catch(
                err=>{
                    this.has_error = true;
                    this.errors = err.response.data.errors || {}

                }
            )

        },
       
        
    },
    
}
</script>

