
<template>
  <div class="animated fadeIn">
    
        <div class="card">
            <div class="card-header">
                <div class="form-inline col-md-12" style="padding: 0;">
                    <div class="col-md-3" style="padding: 0px;">
                        <h4>Tag Detail</h4> 
                    </div>   
                    <div class="col-md-9" style="padding: 0">
                        <router-link :to="{name: 'tag-index'}"><button  class="  create-button btn btn-danger btn-back-action" >Back</button></router-link>
                        <router-link :to="{name: 'tag-edit',params:{id:id} }"><button  class="  create-button btn btn-primary btn-update-action" >Update</button></router-link>
                    </div>
                </div>
            </div>
            <div class="card-body card-block">

                <!-- <div class="row col-md-12"> -->

                    <dl class = "dl-horizontal">
                        <dt>Title</dt>
                        <dd>{{data.tag}}</dd>
                        <br/><br/>
                        <dt>Created By</dt>
                        <dd>{{data.user? data.user.name:'N/A'}}</dd>
                        <br/><br/>
                        <dt>Created At</dt>
                        <dd>{{data.created_at}}</dd>
                        <br/><br/>
                        <dt>Updated At</dt>
                        <dd>{{data.updated_at}}</dd>
                        <br/><br/>
                        
                    </dl>
            </div>
        </div>

    </div>
  </div>
</template>

<script>
// import { json } from 'body-parser';
import Multiselect from 'vue-multiselect'

export default {
    name: 'forms',
    

    data () {
        return {
        id:'',
        data:{},
        }
    },
    

    created(){      

        
    },
    mounted(){

        this.id = this.$route.params.id;        
        this.getData(this.id)

    },
    methods: {
        

        getData(id = 0){

            this.has_error = false
            var formData =  new FormData();
            formData.set('id',id)
            this.$http.get('/tag/show?id='+id)
            .then(
                (res) =>{
                    this.data = res.data.data;
                }
            )
            .catch(
                err=>{
                    this.has_error = true;
                    this.errors = err.response.data.errors || {}

                }
            )

        },
    },
    
    
}
</script>
