<template>
  <div class="animated fadeIn">
     <h4>Create Content</h4> 
     <br>

        <div class="card">
            <form @submit.prevent="CreateData">
                
                <div class="card-body card-block">
               
                    <div class="form-horizontal">
                        
                        <div class="form-group row">
                            <label for="title" class="control-label col-md-2 form-label-text">Title</label>
                            <div class="col-md-7">
                                <input type="text" id="title" v-model="title" placeholder="Enter Title.." class="form-control ">    
                                <div v-if="has_error" >
                                    <span class="text-danger" v-for="title in errors.title"> {{title}}</span>            
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-group row">
                            <label for="keyword" class="control-label col-md-2 form-label-text">Keyword</label>
                            <div class="col-md-7">
                                <input type="text" id="keyword" v-model="keyword" placeholder="Enter Keyword.." class="form-control ">    
                                <div v-if="has_error" >
                                    <span class="text-danger" v-for="keyword in errors.keyword"> {{keyword}}</span>            
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="form-group row">
                            <label for="body" class="control-label col-md-2 form-label-text">Body</label>
                            <div class="col-md-7">
                                <textarea type="text" id="body" rows="3" v-model="body" placeholder="Enter Body.." class="form-control"></textarea>    
                                <div  v-if="has_error">
                                    <span class="text-danger" v-for="body in errors.body"> {{body}}</span>            
                                </div>
                            </div>
                            
                        </div>

                        <!-- <div class="form-group col-md-6">
                            <label for="body" class=" form-control-label">Body</label>
                            <input type="text" id="body" rows="2" v-model="body" placeholder="Enter Body.." class="form-control">
                            <div class="input-group" v-if="has_error">
                                <span class="text-danger" v-for="body in errors.body"> {{body}}</span>            
                            </div>
                        </div> -->
                        
                        <div class="form-group row">
                            <label for="tag" class="control-label col-md-2 form-label-text">Tag</label>
                            <div class="col-md-7">
                                <select class="form-control select2" multiple="true" v-model="tag" name="tags[]" id="tags">
                                    <option v-for="option in tag_options" :value="option.id" >{{ option.name }}</option>
                                </select>
                                <div class="input-group" v-if="has_error">
                                    <span class="text-danger" v-for="tag in errors.tag"> {{tag}}</span>            
                                </div>
                            </div>                        
                        </div>
                        <div class="form-group row">
                            <label for="type" class="control-label col-md-2 form-label-text">Type</label>
                            <div class="col-md-7">
                                <select class="form-control" id="type" v-model="type" @change="onChangeType()" @mouseover="keyhander">
                                    <option >Choose Type</option>
                                    <option v-for="option in type_options" :value="option" >{{ option.name }}</option>
                                </select>
                                <div class="input-group" v-if="has_error">
                                    <span class="text-danger" v-for="type_id in errors.type_id"> {{type_id}}</span>            
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="col-md-12" id="upload-spec" style="display: none">
                            <div class="col-md-6" style="padding-left:0">
                                <strong>Upload Rules:</strong>
                                <ol style="padding: 5px 0 0 30px;">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ol>
                            </div>
                        </div>
                    </div>                   
                    <div class="row col-md-12 wrap-text-in-div">

                        <!-- <div class="form-group col-md-6" id="image-content" style="display: none">
                            <vue-upload-multiple-image
                            @upload-success="uploadImageSuccess"
                            @before-remove="beforeRemove"
                            @edit-image="editImage"
                            @data-change="dataChange"
                            @limit-exceeded="limitExceeded"

                            dragText="Drag Drop Any Image"
                            browseText=''
                            primaryText=''
                            markIsPrimaryText=''
                            popupText=''
                            :data-images="images" />
                        </div> -->

                        <div class=" col-md-12  files"  id="file-content" style="display: none">
                            <div class=" col-md-6" style="padding:0">
                                <br/>
                                <input type="file"   ref="file" class="form-control" name="files" multiple v-on:change="onUploadFile"/>
                                <br />
                            </div>
                            <ul class="fileList" style="list-style-type:none">
                                <li v-for="(f, key) in fileUploaded" v-if="!deletedFileIndex.includes(key)">
                                    <div class="row">
                                        <div class="col-md-2" style="padding-bottom:5px" >
                                            <img class="img-thumbnail image-file-icon" alt="Cinque Terre" width="90%" height="100" src="images/file-icon.png" style="height:70px">
                                        </div>
                                        <div class="col-md-4 " style="padding-left:10px; word-break:break-all">
                                            {{f.name}}
                                        </div>
                                        <div class="col-md-1 div-file-size" >
                                            {{(f.size / megabyteInBytes).toFixed(3)}} MB 
                                        </div>
                                        <div class="col-md-2" >
                                            <a class="removeFile" @click="onDeleteFile($event, key)" href="#" :data-fileid="key" style='color:red'><i class='fa fa-trash'></i></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class=" col-md-12 "  id="video-content" style="display: none">
                            <div class=" col-md-6" style="padding:0">
                                <br/>
                                <input type="file" ref="file" accept="video/x-m4v|video/*" class="form-control" name="videoFiles"  @change="onUploadVideo" multiple/>
                                <br/>
                            </div>
                            <div class=" col-md-12" style="padding:0">
                                <ul class="videoList" style="list-style-type:none">
                                    <li v-for="(f, key) in videoUploaded" v-if="!deletedVideoIndex.includes(key)">
                                        <div class="row">
                                            <div class="col-md-3" >
                                                <video width="220" height="200" controls="" :src="createObjectURL(f)"></video>'
                                            </div>
                                            <div class="col-md-4 videoName" style="padding-left:10px; ">{{f.name}}
                                            </div>
                                            <div class="col-md-1 videoName div-file-size" >
                                                {{(f.size / megabyteInBytes).toFixed(3)}}MB
                                            </div>
                                            <div class="col-md-2" >
                                                <a class="removeVideo" @click="onDeleteVideo($event, key)" href="#" :data-fileid="key" style='color:red'><i class='fa fa-trash'></i></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class=" col-md-12 "  id="image-content" style="display: none">
                            <div class=" col-md-6" style="padding:0">
                                <br/>
                                <input type="file" ref="file" accept="image/gif,image/jpeg,image/png,image/bmp,image/jpg" class="form-control" name="imageFiles"  @change="onUploadImage" multiple/>
                                <br/>
                            </div>
                            <div class=" col-md-12" style="padding:0">
                                <ul class="imageList" style="list-style-type:none">
                                    <li v-for="(f, key) in imageUploaded" v-if="!deletedImageIndex.includes(key)">
                                        <div class="row">
                                            <div class="col-md-3" >
                                                <img class="img-thumbnail" alt="Cinque Terre" width="90%" height="100" :src="createObjectURL(f)">
                                            </div>
                                            <div class="col-md-4 imageName" style="padding-left:10px; ">
                                                {{f.name}}
                                            </div>
                                            <div class="col-md-1 imageName div-file-size" >
                                                {{(f.size / megabyteInBytes).toFixed(3)}} MB 
                                            </div>
                                            <div class="col-md-2" >
                                                <a class="removeImage" @click="onDeleteImage($event, key)" href="#" :data-fileid="key" style='color:red'><i class='fa fa-trash'></i></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
        
                    </div> 
                    
                </div>
                <div class="card-header pull-right card-header-no-backgroup">
                    <router-link :to="{name: 'content-index'}"><button type="button" class="btn btn-danger " >
                        <i class="fa fa-times"></i></i> Cancel
                    </button></router-link>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                    
                </div>
            </form>
        </div>

    </div>
  </div>
</template>

<script>
// import { json } from 'body-parser';

export default {
    name: 'forms',
    data () {
        return {
        title:'',
        body:'',
        keyword:'',
        tag_options:[],
        type_options:[],
        tag:[],
        type:'Choose Type',

        has_error: false,
        errors:[],
        redirect_params:[],
        images: [],
        is_upload_img: false,
        is_upload_video: false,
        is_upload_file: false,
        fileUploaded: [],
        currentFile:'',
        videoUploaded: [],
        currentVideo:'',
        imageUploaded: [],
        currentImage:'',
        deletedFileIndex:[],
        deletedVideoIndex:[],
        deletedImageIndex:[],



        }
    },
    

    created(){      
        this.getAllContentTypes().then(res=>{
          res.forEach(element => {
            this.type_options.push( {
                id: element.id,
                name:element.title,
                attachment:element.attachment,

            } );
          });   
        });  
        this.getAllTags().then(res=>{
          res.forEach(element => {
            this.tag_options.push( {
                id: element.id,
                name:element.tag,
            } );
          });   
        });
        //showing spec when create and edit content 
        this.getServeruploadSpecs().then(
        resp=>{
            this.post_max_size += resp.post_max_size+'B'
            this.upload_max_filesize += resp.upload_max_filesize+'B';
            this.max_file_uploads += resp.max_file_uploads+' files';
            var uploadSpecContent = $('#upload-spec').children().children().children()

            $(uploadSpecContent[0]).text(this.post_max_size);
            $(uploadSpecContent[1]).text(this.upload_max_filesize);
            $(uploadSpecContent[2]).text(this.max_file_uploads);

        }
        );
        
    },
    mounted(){

        var vueInstance = this;
        // $('select#tags').change(function (e) {
        //     vueInstance.tag = $('select#tags').val()
        // })
        //remove selected files
        // $(document).on("click",".removeFile", function(e){
        //     e.preventDefault();
        //     var fileIndex = $(this).attr('data-fileid');
        //     var fileName = vueInstance.fileUploaded[fileIndex].name;
        //     vueInstance.deletedFileIndex.push(fileIndex);
            
        //     if( vueInstance.currentFile === fileName || vueInstance.fileUploaded.length === vueInstance.deletedFileIndex.length)
        //         $('input[name=files]').val('')
            
        //     $(this).parent().parent().parent().remove();

        // });
        //remove selected video
        // $(document).on("click",".removeVideo", function(e){
        //     e.preventDefault();
        //     var fileIndex = $(this).attr('data-fileid');
        //     var fileName = vueInstance.videoUploaded[fileIndex].name;
        //     vueInstance.deletedVideoIndex.push(fileIndex);
            
        //     if( vueInstance.currentVideo === fileName || vueInstance.videoUploaded.length === vueInstance.deletedVideoIndex.length)
        //         $('input[name=videoFiles]').val('')
                
        //     $(this).parent().parent().parent().remove();

        // });
        //remove selected images
        // $(document).on("click",".removeImage", function(e){
        //     e.preventDefault();
        //     var fileIndex = $(this).attr('data-fileid');
        //     console.log(vueInstance.imageUploaded)
        //     console.log(fileIndex)
        //     var fileName = vueInstance.imageUploaded[fileIndex].name;
        //     vueInstance.deletedImageIndex.push(fileIndex);
            
        //     if( vueInstance.currentImage === fileName || vueInstance.imageUploaded.length === vueInstance.deletedImageIndex.length)
        //         $('input[name=imageFiles]').val('')
                
        //     $(this).parent().parent().parent().remove();

        // });
        
        // $('#file-content').find('input').on('change',function (e) {

        //     var files = e.target.files;
            
        //     if (files.length === 1) {
        //         vueInstance.currentFile = files[0].name;
        //     }
        //     // var output = [];

        //     for (var i = 0; i < files.length; i++) {
        //         vueInstance.fileUploaded.push(files[i]);

        //         // var f = files[i];
        //         // var removeLink = "<a class=\"removeFile\" href=\"#\" data-fileid=\"" + (vueInstance.fileUploaded.length -1 ) + "\" style='color:red'><i class='fa fa-trash'></i></a>";
        //         // output.push('<li><div class="row"><div class="col-md-2" style="padding-bottom:5px" >'
        //         //                 ,'<img class="img-thumbnail image-file-icon" alt="Cinque Terre" width="90%" height="100" src="images/file-icon.png" style="height:70px">'
        //         //                 ,'</div><div class="col-md-4 " style="padding-left:10px; word-break:break-all">',escape(f.name)
        //         //                 ,'</div><div class="col-md-1 div-file-size" >',escape((f.size / vueInstance.megabyteInBytes).toFixed(3))
        //         //                 ,' MB </div><div class="col-md-2" >',removeLink,'</div></div></li>')
            
        //     };    
        //     // $(".fileList").append(output.join(""));
    
        // })



    },
    methods: {
        
        CreateData(){

            let loader = this.$loading.show();
            this.has_error = false
            
            var formData = new FormData();
            formData.append('title',this.title);
            formData.append('body',this.body);
            formData.append('keyword',this.keyword);
            // var tags = $('select#tags').val()
            // for (let index = 0; index < tags.length; index++) {
            //     formData.append('tag_id['+index+']',tags[index]);
            // }
            for (let index = 0; index < this.tag.length; index++) {
                formData.append('tag_id['+index+']',this.tag[index]);
            
            }
            
            if (this.type !== '' && this.type !== 'Choose Type') {
                formData.append('type_id',this.type.id);
                formData.append('type_name',this.type.name);

                if (this.is_upload_img) {
                    for( var i = 0; i < this.imageUploaded.length; i++ ){
                        if (this.imageUploaded[i] !== null && !(this.deletedImageIndex).includes(i))              
                            formData.append('images['+i+']', this.imageUploaded[i]);
                    }
                }
                else if (this.is_upload_video) {
                    for( var i = 0; i < this.videoUploaded.length; i++ ){
                        
                        if (this.videoUploaded[i] !== null && !(this.deletedVideoIndex).includes(i))              
                            formData.append('videos['+i+']', this.videoUploaded[i]);
                    }
                }
                else if (this.is_upload_file) {
                    for( var i = 0; i < this.fileUploaded.length; i++ ){  
                        if (this.fileUploaded[i] !== null && !(this.deletedFileIndex).includes(i))              
                            formData.append('files['+i+']', this.fileUploaded[i]);
                    }
                }
                
            }
            

            this.$http.post('/content',formData,{
                headers: {
                'Content-Type': 'multipart/form-data'
                }
            })
            .then(
                res=>{
                    loader.hide();
                    this.$router.push({
                        name:'content-show',
                        params:{
                            id: res.data.data.id,
                        }
                    });
                }
            )
            .catch(
                err=>{
                    this.tag = $('select#tags').val()
                    loader.hide();
                    if(err.response.status === 422){
                        this.has_error = true;
                        this.errors = err.response.data.errors || {}
                        if ( this.errors.images != null ) {
                            this.$toast.error({
                                title:'Error',
                                message:'Images file is required',
                            })
                        }
                        else if ( this.errors.videos != null ) {
                            this.$toast.error({
                                title:'Error',
                                message:'Videos file is required',
                            })
                        }
                        else if ( this.errors.files != null ) {
                            this.$toast.error({
                                title:'Error',
                                message:'Files is required',
                            })
                        }
                    }
                    else{
                        if (err.response.status === 413) {
                            this.$toast.error({
                                title:'Create',
                                message:'You upload too large file',
                            })
                        }
                        else{
                            this.$toast.error({
                                title:'Create',
                                message:'Create record failed',
                            })
                        }
                    }
                }
            )
        },

    /*
        uploadImageSuccess(formData, index, fileList) {
           
            this.images = fileList;
            this.imageUploaded.push(formData.get('file'));
        },
        beforeRemove (index, done, fileList) {
            var r = confirm("Are you sure you want to remove this image?")
            if (r == true) {
                done()
                this.imageUploaded.splice(index,1);
            } else {
            }
        },
        editImage (formData, index, fileList) {
            this.imageUploaded[index] = formData.get('file');

        },
        dataChange (data) {
            this.images = data
        },
        */

        onChangeType(){
            if (this.type.name === 'image' && this.type.attachment === 1) {
                this.is_upload_img =  true;
                this.is_upload_video = false;
                this.is_upload_file = false;
                $('#image-content').show()
                $('#video-content').hide()
                $('#file-content').hide()
                $('#upload-spec').show();


            }
            else if (this.type.name === 'video' && this.type.attachment === 1) {
                this.is_upload_img =  false;
                this.is_upload_video = true;
                this.is_upload_file = false;
                $('#image-content').hide()
                $('#video-content').show()
                $('#file-content').hide()
                $('#upload-spec').show();
            }
            else if( (this.type.name === 'file' && this.type.attachment === 1) || (this.type.attachment === 1) ){
                this.is_upload_img =  false;
                this.is_upload_video = false;
                this.is_upload_file = true;
                $('#image-content').hide()
                $('#video-content').hide()
                $('#file-content').show()
                $('#upload-spec').show();
                
            }else{
                this.is_upload_img =  false;
                this.is_upload_video = false;
                this.is_upload_file = false;
                $('#image-content').hide()
                $('#video-content').hide()
                $('#file-content').hide()
                $('#upload-spec').hide()

            }
        },
        keyhander(event){
            //assign tags to avoid lost when vue re render
            this.tag = $('select#tags').val()
        },
              
    },
    
    
}
</script>

<style >
    video {
        background: gray;
    }
    
</style>
