<template>
  <div class="animated fadeIn">
     <h4>Edit Content</h4> 
     <br>
        
        <div class="card">
            <form @submit.prevent="UpdateData">
                
                <div class="card-body card-block">

                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label for="title" class="control-label col-md-2 form-label-text">Title</label>
                            <div class="col-md-7">
                                <input type="text" id="title" v-model="title" placeholder="Enter Title.." class="form-control " @keydown="keyhander">    
                                <div v-if="has_error" >
                                    <span class="text-danger" v-for="title in errors.title"> {{title}}</span>            
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="keyword" class="control-label col-md-2 form-label-text">Keyword</label>
                            <div class="col-md-7">
                                <input type="text" id="keyword" v-model="keyword" placeholder="Enter Keyword.." class="form-control " @keydown="keyhander">    
                                <div v-if="has_error" >
                                    <span class="text-danger" v-for="keyword in errors.keyword"> {{keyword}}</span>            
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="body" class="control-label col-md-2 form-label-text">Body</label>
                            <div class="col-md-7">
                                <textarea type="text" id="body" rows="3" v-model="body" placeholder="Enter Body.." class="form-control" @keydown="keyhander"></textarea>    
                                <div  v-if="has_error">
                                    <span class="text-danger" v-for="body in errors.body"> {{body}}</span>            
                                </div>
                            </div>
                        
                        </div>
                        <div class="form-group row">
                            <label for="tag" class="control-label col-md-2 form-label-text">Tag</label>
                            <div class="col-md-7">
                                <select class="form-control select2" multiple="true" v-model="tag" name="tags[]" id="tags" @keydown="keyhander">
                                    <option v-for="option in tag_options" :value="option.id" >{{ option.name }}</option>
                                </select>
                                <div class="input-group" v-if="has_error">
                                    <span class="text-danger" v-for="tag in errors.tag"> {{tag}}</span>            
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-group row">
                            <label for="type" class="control-label col-md-2 form-label-text">Type</label>
                            <div class="col-md-7">
                                <select class="form-control" id="type" v-model="type" @change="onChangeType()" @mouseover="keyhander" >
                                    <option v-for="option in type_options" v-bind:value="option.id"  >{{ option.name }}</option>
                                </select>
                                <div class="input-group" v-if="has_error">
                                    <span class="text-danger" v-for="type_id in errors.type_id"> {{type_id}}</span>            
                                </div>
                            </div>
                        </div>
                        <br/>
        
                    </div>
                    
                    <div class="col-md-12" id="upload-spec" style="display: none">
                        <div class="col-md-6" style="padding-left:0">
                            <strong>Upload Rules:</strong>
                            <ol style="padding: 5px 0 0 30px;">
                                <li></li>
                                <li></li>
                                <li></li>
                            </ol>
                        </div>
                    </div>
                    
                    <div class="form-row col-md-12">
                        <!-- <div class="form-group col-md-6" id="image-content" style="display:none">
                            <vue-upload-multiple-image
                            @upload-success="uploadImageSuccess"
                            @before-remove="beforeRemove"
                            @edit-image="editImage"
                            @data-change="dataChange"
                            dragText="Drag Drop Any Image"
                            browseText=''
                            primaryText=''
                            markIsPrimaryText=''
                            popupText=''
                            :data-images="images" />
                        </div> -->
                        <div class=" col-md-12  files"  id="file-content" style="display: none">
                            <div class=" col-md-6" style="padding:0">
                                <br/>
                                <input type="file"   ref="file" class="form-control" name="files" multiple v-on:change="onUploadFile"/>
                                <br />
                            </div>
                            <div class=" col-md-12" style="padding:0">
                                <ul class="fileList" style="list-style-type:none">
                                    <li v-for="(f, key) in fileUploaded" v-if="!deletedFileIndex.includes(key)">
                                        <div class="row">
                                            <div class="col-md-2" style="padding-bottom:5px" >
                                                <img class="img-thumbnail image-file-icon" alt="Cinque Terre" width="90%" height="100" src="images/file-icon.png" style="height:70px">
                                            </div>
                                            <div class="col-md-4 " style="padding-left:10px; word-break:break-all">
                                                {{f.name}}
                                            </div>
                                            <div class="col-md-1 div-file-size" >
                                                {{(f.size / megabyteInBytes).toFixed(3)}} MB 
                                            </div>
                                            <div class="col-md-2" >
                                                <a class="removeFile" @click="onDeleteFile($event, key)" href="#" :data-fileid="key" style='color:red'><i class='fa fa-trash'></i></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class=" col-md-12 " id="video-content"  style="display:none">
                            <div class=" col-md-6" style="padding:0">
                                <br/>
                                <input type="file" accept="video/mp4|video/x-m4v|video/*" ref="file" class="form-control" name="videoFiles" multiple v-on:change="onUploadVideo"/>
                                <br/>
                            </div>
                            <div class=" col-md-12" style="padding:0">
                                <ul class="videoList" style="list-style-type:none" >
                                    <li v-for="(f, key) in videoUploaded" v-if="!deletedVideoIndex.includes(key)">
                                        <div class="row">
                                            <div class="col-md-3" >
                                                <video width="220" height="200" controls="" :src="createObjectURL(f)"></video>
                                            </div>
                                            <div class="col-md-4 videoName" style="padding-left:10px; ">{{f.name}}
                                            </div>
                                            <div class="col-md-1 videoName div-file-size" >
                                                {{(f.size / megabyteInBytes).toFixed(3)}}MB
                                            </div>
                                            <div class="col-md-2" >
                                                <a class="removeVideo" @click="onDeleteVideo($event, key)" href="#" :data-fileid="key" style='color:red'><i class='fa fa-trash'></i></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class=" col-md-12 "  id="image-content" style="display: none">
                            <div class=" col-md-6" style="padding:0">
                                <br/>
                                <input type="file" ref="file" accept="image/gif,image/jpeg,image/png,image/bmp,image/jpg" class="form-control" name="imageFiles"  @change="onUploadImage" multiple/>
                                <br/>
                            </div>
                            <div class=" col-md-12" style="padding:0">
                                <ul class="imageList" style="list-style-type:none">
                                    <li v-for="(f, key) in imageUploaded" v-if="!deletedImageIndex.includes(key)">
                                        <div class="row">
                                            <div class="col-md-3" >
                                                <img class="img-thumbnail" alt="Cinque Terre" width="90%" height="100" :src="createObjectURL(f)">
                                            </div>
                                            <div class="col-md-4 imageName" style="padding-left:10px; ">
                                                {{f.name}}
                                            </div>
                                            <div class="col-md-1 imageName div-file-size" >
                                                {{(f.size / megabyteInBytes).toFixed(3)}} MB 
                                            </div>
                                            <div class="col-md-2" >
                                                <a class="removeImage" @click="onDeleteImage($event, key)" href="#" :data-fileid="key" style='color:red'><i class='fa fa-trash'></i></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    
                    </div> 
                </div>
                <div class="card-header pull-right card-header-no-backgroup">
                    <router-link :to="{name: 'content-index'}"><button type="button" class="btn btn-danger " >
                        <i class="fa fa-times"></i></i> Cancel
                    </button></router-link>
                    <button type="" class="btn btn-primary">
                        <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                    
                </div>
            </form>
        </div>

    </div>
  </div>
</template>

<script>
// import { json } from 'body-parser';
import Multiselect from 'vue-multiselect'

export default {
    name: 'forms',
    
    data () {
        return {
            title:'',
            keyword:'',
            body:'',
            tag_options:[],
            type_options:[],
            id:'',
            tag:[],
            type:'',
            has_error: false,
            errors:[],
            redirect_params:[],
            images: [],
            is_upload_img: false,
            is_upload_video: false,
            is_upload_file: false,
            fileUploaded: [],
            currentFile:'',
            videoUploaded: [],
            currentVideo:'',
            imageUploaded: [],

            restoreimageUploaded: [],

            notDeleteFile: [],
            notDeleteVideo: [],
            notDeleteImage: [],
            base_url: window.location.origin,
            deletedFileIndex:[],
            deletedVideoIndex:[],
            deletedImageIndex:[],

        }
    },
    

    created(){      
        this.getAllContentTypes().then(res=>{
          res.forEach(element => {
            this.type_options.push( {
                id: element.id,
                name:element.title,
                attachment:element.attachment,

            } );
          });   
        });  
        this.getAllTags().then(res=>{
          res.forEach(element => {
            this.tag_options.push( {
                id: element.id,
                name:element.tag,
            } );
          });   
        });
        //showing spec when create and edit content 
        this.getServeruploadSpecs().then(
        resp=>{
            this.post_max_size += resp.post_max_size+'B'
            this.upload_max_filesize += resp.upload_max_filesize+'B';
            this.max_file_uploads += resp.max_file_uploads+' files';
            this.max_file = resp.max_file_uploads;
            var uploadSpecContent = $('#upload-spec').children().children().children()

            $(uploadSpecContent[0]).text(this.post_max_size);
            $(uploadSpecContent[1]).text(this.upload_max_filesize);
            $(uploadSpecContent[2]).text(this.max_file_uploads);

        }
        );
        
    },
    mounted(){

        this.id = this.$route.params.id;        
        this.getData(this.id)
        var vueInstance = this;
        // $('select#tags').change(function (e) {
        //     // vueInstance.tag = $('select#tags').val()
        // })

    },
    methods: {
        
        keyhander(event){
            //assign tags to avoid lost when vue re render
            this.tag = $('select#tags').val()
        },
        UpdateData(){
            let loader = this.$loading.show();
            this.has_error = false
            
            var formData = new FormData();
            formData.append('title',this.title);
            if (this.keyword != null && this.keyword !== '' && this.keyword !== 'null')
                formData.append('keyword',this.keyword);
            formData.append('id',this.id);

            if (this.body != null && this.body !== '' && this.body !== 'null')
                formData.append('body',this.body);
            // for (let index = 0; index < this.tag.length; index++) {
            //     formData.append('tag_id['+index+']',this.tag[index]);
            // }
            var tags = $('select#tags').val()
            for (let index = 0; index < tags.length; index++) {
                formData.append('tag_id['+index+']',tags[index]);
            }
            this.tag = tags;
            

            formData.append('type_id',this.type);
            this.type_options.forEach(element => {
                if (this.type === element.id) {
                    formData.append('type_name',element.name);
                }
            });
            
            if(this.is_upload_img){

                for( var i = 0; i < this.imageUploaded.length; i++ ){
                    
                    if(this.imageUploaded[i] !== null && !this.deletedImageIndex.includes(i) ){

                        if ( this.imageUploaded[i] instanceof File === true  ) {
                            formData.append('images['+i+']', this.imageUploaded[i]);
                        }
                        else{
                            formData.append('notDeleteimages['+i+']', this.imageUploaded[i].name);
                        }
                    }
                    
                }
            }
            else if(this.is_upload_video){
                for( var i = 0; i < this.videoUploaded.length; i++ ){
                    if(this.videoUploaded[i] !== null && !this.deletedVideoIndex.includes(i)){

                        if ( this.videoUploaded[i] instanceof File === true  ) {
                            formData.append('videos['+i+']', this.videoUploaded[i]);
                        }
                        else{
                            formData.append('notDeletevideos['+i+']', this.videoUploaded[i].name);
                        }
                    }
                }
            }

            else if(this.is_upload_file){

                for( var i = 0; i < this.fileUploaded.length; i++ ){ 
                    if(this.fileUploaded[i] !== null && !(this.deletedFileIndex).includes(i)){
                        if ( this.fileUploaded[i] instanceof File === true  ) {
                            formData.append('files['+i+']', this.fileUploaded[i]);
                        }
                        else{
                            formData.append('notDeletefiles['+i+']', this.fileUploaded[i].name);
                        }                 
                    }
                }
            }
            
            this.$http.post('content/update',formData,{
                headers: {
                'Content-Type': 'multipart/form-data'
                }
            })
            .then(
                res=>{
                    loader.hide();

                    this.$router.push({
                        name:'content-show',
                        params:{
                            id: res.data.data.id,
                        }
                    });
                }
            )
            .catch(
                err=>{
                    this.tag = $('select#tags').val();
                    $('select#tags').append(this.tag_options).trigger('change')
                    loader.hide()
                    if(err.response.status === 422){
                        this.has_error = true;
                        this.errors = err.response.data.errors || {}
                        if ( this.errors.images != null ) {
                            this.$toast.error({
                                title:'Error',
                                message:'Images file is required',
                            })
                        }
                        else if ( this.errors.videos != null ) {
                            this.$toast.error({
                                title:'Error',
                                message:'Videos file is required',
                            })
                        }
                        else if ( this.errors.files != null ) {
                            this.$toast.error({
                                title:'Error',
                                message:'Files is required',
                            })
                        }
                    }
                    else{
                        if (err.response.status === 413) {
                            this.$toast.error({
                                title:'Create',
                                message:'You upload too large file',
                            })
                        }
                        else{
                            this.$toast.error({
                                title:'Create',
                                message:'Create record failed',
                            })
                        }
                    }
                }
            )
        },

        getData(id = 0){

            this.has_error = false
            var formData =  new FormData();
            formData.set('id',id)
            this.$http.get('/content/show?id='+id)
            .then(
                (res) =>{
                    this.title = res.data.data.title;
                    this.body = res.data.data.body;
                this.keyword = res.data.data.keyword;
                    var tags = res.data.tags;
                    tags.forEach(element => {
                        this.tag.push(element.id)
                    
                    });
                    $('select#tags').val(this.tag).trigger('change');
                    var content_type = res.data.content_type;
                    content_type.forEach(element => {
                        this.type= element.id;
                        if (element.title === 'image') {
                            $('#image-content').show();
                            this.is_upload_img =  true;
                            $('#upload-spec').show()
                        }
                        else if (element.title === 'video') {
                            $('#video-content').show();
                            this.is_upload_video =  true;
                            $('#upload-spec').show()

                        }
                        else if (element.title === 'file' || element.attachment === 1) {
                            $('#file-content').show();
                            $('#upload-spec').show()
                            this.is_upload_file =  true;
                        }
                    });



                    var content_attachments = res.data.content_attachments;

                    var vueInstance = this;
                    var jquery = $;
                    content_attachments.forEach(element => {
                        this.getDocumentFile(element.url).then(
                            res =>{
                                // console.log(res.data);
                                var blob = new Blob([res.data],
                                            {
                                                type:res.headers['content-type'],
                                                size:res.headers['content-size'],

                                            });
                                blob.lastModifiedDate = new Date();            
                                blob.name = res.headers['content-name']

                                let fileObject = blob;
                                
                                if(vueInstance.is_upload_video === true){
                                    vueInstance.videoUploaded.push(fileObject);

                                }
                                else if(vueInstance.is_upload_file === true){
                                    vueInstance.fileUploaded.push(fileObject);
                                }
                                else if(vueInstance.is_upload_img === true){
                                    vueInstance.imageUploaded.push(fileObject)
                                }
                            }
                        )
                    });                    

                }
            )
            .catch(
                err=>{
                    this.has_error = true;
                    this.errors = err.response.data.errors || {}

                }
            )

        },

        onChangeType(){
            var BreakException = {};

            try{
                this.type_options.forEach(element => {
                
                    if (element.id === this.type) {                            
                        if (element.name === 'image' && element.attachment === 1) {
                        
                            this.is_upload_img =  true;
                            this.is_upload_video = false;
                            this.is_upload_file = false;
                            $('#image-content').show()
                            $('#video-content').hide()
                            $('#file-content').hide()
                            $('#upload-spec').show()

                        }
                        else if (element.name === 'video' && element.attachment === 1) {

                            this.is_upload_img =  false;
                            this.is_upload_video = true;
                            this.is_upload_file = false;
                            $('#image-content').hide()
                            $('#video-content').show()
                            $('#file-content').hide()
                            $('#upload-spec').show()

                        }
                        else if( (this.type.name === 'file' && element.attachment === 1) || (element.attachment === 1) ){
                            
                            this.is_upload_img =  false;
                            this.is_upload_video = false;
                            this.is_upload_file = true;
                            $('#image-content').hide()
                            $('#video-content').hide()
                            $('#file-content').show()
                            $('#upload-spec').show()
                            
                        }else{
                           
                            this.is_upload_img =  false;
                            this.is_upload_video = false;
                            this.is_upload_file = false;
                            $('#image-content').hide()
                            $('#video-content').hide()
                            $('#file-content').hide()
                            $('#upload-spec').hide()

                            
                        }
                        throw BreakException;
                    }
                });

            } catch (e) {
                if (e !== BreakException) throw e;
            }
            
        },

    
        
        
    },
    
    
}
</script>

<style >
    video {
        background: gray;
    }
</style>