<template>
  <div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        
        <flashMessage transitionIn="animated swing" ></flashMessage>

        <div class="card">
          <div class="card-header">
            <div class="form-inline col-md-12" style="padding: 0;">
              <div class="col-md-3" style="padding: 0px 0 0px 5px;">
                <h4>Contents</h4> 
              </div>   
              <div class="col-md-9" style="padding: 0">
                <router-link :to="{name: 'content-create'}"><button  class=" pull-right create-button btn btn-primary" >Create</button></router-link>
              </div>    
            </div>
          </div>
          <div class="card-body">
            <form action="" id="search-form" v-on:submit.prevent="search">
                <div class="row pl-4 pr-4 pt-1 pb-1">
                    <div class="col-lg-4 col-md-6 col-xs-12 " style="padding-left:0">
                      <div class="form-group">
                        <label for="keyword">Search for (Title + Body)</label>
                        <div class="input-group">
                            <input type="text" class="form-control" v-model="searchText" placeholder="Search" @keyup.enter="search"> 
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-12">
                      <div class="form-group">
                        <label for="keyword">keyword</label>
                        <div class="input-group">
                            <input type="text"  class="form-control" v-model="keyword" placeholder="Keyword" @keyup.enter="search"> 
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-12">
                      <div class="form-group">
                        <label for="from">Tag </label>
                        <select class="form-control select2" multiple="true" v-model="tag" name="tags[]" id="tags">
                            <option v-for="option in tag_options" :value="option.id" >{{ option.name }}</option>
                        </select>

                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-12 " style="padding-left:0">
                      <div class="form-group">
                        <label for="from">Content Type</label>
                        <select class="form-control" v-model="content_type"  @click="restoreTags">
                            <option>Choose Content Type</option>
                            <option v-for="option in content_type_option" :value="option" >{{ option.name }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-12">
                      <div class="form-group">
                        <label for="from">Created By</label>
                        <select class="form-control" v-model="creator"  @click="restoreTags">
                            <option>Choose Creator</option>
                            <option v-for="option in user_options" :value="option" >{{ option.name }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-12 ">
                      <div class="form-group" id="daterange-content">
                          <label>Date Range </label>

                          <div>
                            <template>
                              <date-range-picker
                                  @click="restoreTags"
                                  :opens="dateRangeLocation"
                                  v-model="dateRange"
                                  :ranges="ranges"
                                  :locale-data="locale"
                                  @update="onDateRangeChange">                            
                              </date-range-picker>
                            </template>
                          </div>

                      </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-xs-12 p-0">
                      <div class="form-inline">
                        <button class="btn btn-danger" type="button" style="margin:7px 10px 0 0" @click="clearSearch">Clear</button>
                        <button class="btn btn-primary" type="button" style="margin-top:7px" @click="search">Search</button>
                      </div>
                      
                    </div>                    
                </div>
                <br/>
                
            </form>
            <div class="table-responsive">

              <table class="table table-striped first-td-padding">
                <thead>
                <tr>
                  <td >&numero;</td>
                  <td >Title</td>
                  <td >keyword</td>
                  <td >Body</td>
                  <td width="100px">Content Type</td>
                  <td width="20%" style="text-align:center">Tags</td>
                  <td width="100px">Created By</td>
                  <td width="100px">Created At</td>
                  <td width="110px" style="text-align:right">Actions</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(data,key,index) in laravelData.data ">
                  
                  <td>{{key+indexOfPage}}</td>
                  
                  <td  class="break-text-style">{{cutMultipleCharacterText(data.title)}}</td>
                  <td  class="break-text-style">{{cutMultipleCharacterText(data.keyword)}}</td>
                  <td class="break-text-style">{{cutMultipleCharacterText(data.body)}}</td>
                  <td>{{data.content_type.title}}</td>
                  <td style="text-align:center"><span class="badge badge-primary" v-for="tag in data.tags">{{tag.tag}}</span> </td>
                  <td>{{data.user.name}}</td>
                  <td>{{formatDate(data.created_at)}}</td>
                  <td align="right">
                    <router-link :to="{name:'content-edit',params:{id:data.id} }" > <i class="fa fa-edit action-icon"> </i></router-link>
                    &nbsp;
                    <a href="#" @click.prevent="deleteItem(data.id)" > <i class="fa fa-trash action-icon"> </i></a>
                    &nbsp;
                    <router-link :to="{name:'content-show',params:{id:data.id},query: {from_list: true} }" > <i class="fa fa-eye action-icon" @click="clickedView"> </i></router-link>

                  </td>
                </tr>
                
                </tbody>
              </table>
              <pagination :data="laravelData" @pagination-change-page="getDatas"></pagination>

            </div>
          </div>
          
        </div>
      </div>
    </div>

  </div>
</template>


<script>

import DateRangePicker from 'vue2-daterange-picker'

  export default {
    components: { DateRangePicker },
    data() {
      return {
       
        has_error: false,
        errors: {},
        success: false,
        laravelData: {},
        indexOfPage: 0,
        page:1,

        keyword:'',
        params:{
          keyword:'',
          content_type:'',
        },
        tag:[],
        tag_options:[],
        user_options:[],
        content_type_option:[],
        content_type:'Choose Content Type',
        creator:'Choose Creator',
        searchText:'',
        searchFilterValue:{},
        is_has_search_session: false,
        // startDate: null,
        // endDate: null,
        
        dateRange: { 
          startDate: null,
          endDate: null,
        },
        ranges:false,
        dateRangeLocation:'left',
        locale: {
            // direction: 'ltr', //direction of text
            format: 'dd/mm/yyyy', //fomart of the dates displayed
            separator: ' - ', //separator between the two ranges
            // applyLabel: 'Apply',
            // cancelLabel: 'Cancel',
            // weekLabel: 'W',
            // customRangeLabel: 'Custom Range',
            // daysOfWeek: moment.weekdaysMin(), //array of days - see moment documenations for details
            // monthNames: moment.monthsShort(), //array of month names - see moment documenations for details
            // firstDay: 1 //ISO first day of week - see moment documenations for details
        }
        
      }
    },

    created(){
        this.$root.$on('deleteContents', (data, msg)=>{
            this.flash().destroyAll()

            if (data === true) {

              this.getDatas(this.page);
              this.flash('Delete record successfully!', 'success', {
                      timeout: this.getFlashMsgDuration(),
                      
                  });
            }else{

              var flashMessage = 'Delete record failed! '
              if (msg.msg != null  ) {
                flashMessage += msg.msg;
              }
              this.flash(flashMessage, 'error', {
                      timeout: this.getFlashMsgDuration(),
                      
                  });
            }
        });
        this.getAllContentTypes().then(res=>{
          res.forEach(element => {
            this.content_type_option.push( {
                id: element.id,
                name:element.title,

            } );
          });   
        });  
        this.getAllTags().then(res=>{
          res.forEach(element => {
            this.tag_options.push( {
                id: element.id,
                name:element.tag,
            } );
          });   
        });

        this.getAllUsers().then(res =>{
          res.forEach(element => {
            this.user_options.push( {
                id: element.id,
                name:element.name,
            } );
          });   
        });
     
    },
    mounted() {
      //
        this.getDatas()
        var msg = this.$route.params.msg;
        if(this.$route.params.has_msg === true)
          this.flash(msg, 'success', {
                    timeout: 4000,
                    
                });
        $('div#daterange-content').find('i').hide()    
        //asign tag value to avoid lost when click date range 
        this.$root.$on('onClickDate', () =>{
          this.tag = $('select#tags').val()
        })
        var vueInstance = this;
        $('div.vue-daterange-picker').on('click', function (e)  {
          vueInstance.$root.$emit('onClickDate');
        })

    },
    methods: {
      getDatas(page = 1,param, is_search = false){     

        var searchParam = '';
        var tags = $('select#tags').val()
        var searchCodition = localStorage.getItem('content_search')
        if (  localStorage.getItem('remember_content_search') === 'true' && searchCodition !== null && searchCodition !== 'null') {
            this.is_has_search_session = true
            localStorage.setItem('remember_content_search','false')
            searchCodition = JSON.parse(searchCodition);
            this.keyword = searchCodition.keyword
            this.tag = searchCodition.tags
            
            $('select#tags').val(this.tag).trigger('change');
            page = searchCodition.page
            this.searchText = searchCodition.searchText
            if (searchCodition.content_type !== '') {
                this.content_type = searchCodition.content_type
            }
            if (searchCodition.creator !== '') {
                this.creator = searchCodition.creator
            }
            this.dateRange = searchCodition.dateRange
            localStorage.setItem('content_search', null)

            for (let index = 0; index < this.tag.length; index++) {
              searchParam += '&tag_id['+index+']='+this.tag[index];
            }
        }else{
          
          for (let index = 0; index < tags.length; index++) {
              searchParam += '&tag_id['+index+']='+tags[index];
          }
          this.tag = tags;
        }

        if(this.content_type !== 'Choose Content Type'){
          this.params.content_type = this.content_type.id;
        }
        else
          this.params.content_type = '';


        this.page = page;  
        this.indexOfPage = (page-1)*this.itemPerPage+1;
        
        
        searchParam += '&searchText='+this.searchText
        searchParam += '&content_type='+this.params.content_type

      
        if(this.creator !== 'Choose Creator')
          searchParam += '&creator_id='+this.creator.id

        if(this.dateRange.startDate != null){

          var startDate = this.formatDate(this.dateRange.startDate,"DD/MM/YYYY");
          var endDate = this.formatDate(this.dateRange.endDate,"DD/MM/YYYY");

          searchParam += '&startDate='+ startDate
          searchParam += '&endDate='+ endDate

        }  
        if (is_search === true || this.is_has_search_session === true) {
          this.searchFilterValue['keyword'] = this.keyword;
          this.searchFilterValue['page'] = this.page;
          this.searchFilterValue['tags'] = this.tag;
          this.searchFilterValue['searchText']= this.searchText;
          this.searchFilterValue['content_type'] = this.content_type;
          this.searchFilterValue['creator'] = this.creator;
          this.searchFilterValue['dateRange'] = this.dateRange;

        }  

        this.params.keyword = this.keyword;
        searchParam += '&keyword='+this.params.keyword+'&page='+page

        this.$http.get('/content?'+ searchParam)
                  .then(
                    res => {
                      app.success =  true
                      this.laravelData = res.data.datas;
                    }
                  ).catch(
                    err => {
                      app.has_error = true;
                      try {
                          app.errors = err.response.data.errors || {}
                      } catch (error) {
                        
                      }
                    }
                  )
      },
   
      search(){
        this.tag = $('select#tags').val()        
          
        this.page = 1;
        this.getDatas(this.page, this.params, true);
      },
      deleteItem(id =  0){
        this.deleteData(id,'deleteContents','/content/delete');  
      },
      onDateRangeChange(event){
      },
      clickedView(){
          if(this.searchFilterValue['tags'] !=  null){
            localStorage.setItem('content_search',JSON.stringify(this.searchFilterValue))
          }
      },
      clearSearch(){
        localStorage.setItem('content_search', null)
        this.keyword = ''
        this.page = 1;
        this.tag = [];
        this.searchText = '';
        this.content_type = 'Choose Content Type';
        this.creator = 'Choose Creator';
        this.dateRange = {
          startDate: null,
          endDate: null
        };
        $('select#tags').val(this.tag).trigger('change');
        this.getDatas()

      },
      restoreTags(){
        //assign tags to avoid lost when vue re render
        this.tag = $('select#tags').val()
      }
    }
  }

</script>


<style lang="scss">
  .table thead tr{
    color: #007bff;
  }
  .error-icon{
    color: #e34a4a;
  }
  .success-icon {
    display: inline-block;
    color: #4ae387;
  }
  .table-sm th, .table-sm td{
    padding: .7rem;
  }
  .color-icon-label-table {
    td:first-child {
      width: 1rem;
    }
  }
  button.create-button{
    width: 100px;
  }
</style>
