
<template>
  <div class="animated fadeIn">
    
        <div class="card">
            <div class="card-header">
                <div class="form-inline col-md-12" style="padding: 0;">
                    <div class="col-md-3" style="padding: 0px;">
                        <h4>Content Detail</h4> 
                    </div>   
                    <div class="col-md-9" style="padding: 0">
                        <router-link :to="{name: 'content-index'}"><button  class="  create-button btn btn-danger btn-back-action" @click="clickBack">Back</button></router-link>
                        <router-link :to="{name: 'content-edit',params:{id:id} }"><button  class="  create-button btn btn-primary btn-update-action" >Update</button></router-link>
                    </div>    
                </div>
            </div>
            <div class="card-body card-block">

                <!-- <div class="row col-md-12"> -->

                    <dl class = "dl-horizontal">
                        <dt>Title</dt>
                        <dd>{{data.title}}</dd>
                        <br/><br/>
                        <dt>Keyword</dt>
                        <dd>{{data.keyword}}<br></dd>
                        <br/><br/>
                        <dt>Body</dt>
                        <dd v-html="vnl2br(data.body,true)"><br></dd>
                        <br/><br/>
                        <dt>Content Type</dt>
                        <dd>{{content_type}}<br></dd>
                        <br/><br/>
                        <dt>Tags</dt>
                        <dd>
                            <span class="badge badge-primary" v-for="tag in tags">{{tag}}</span><br>
                        </dd>
                        <br/><br/>
                        <dt>Created By</dt>
                        <dd>{{created_by}}<br></dd>
                        <br/><br/>
                        <dt>Created At</dt>
                        <dd>{{formatDate(data.created_at)}}<br></dd>
                        <br/><br/>
                        <dt>Updated At</dt>
                        <dd>{{formatDate(data.updated_at)}}<br/></dd>
                        <br/><br/>
                        <dt>Attachment</dt>
                        <dd>
                            
                            <div  class=" col-md-12 form-inline" id="video-content"  style="display:none; padding-left:0; margin-top:15px">
                            </div>
                            <div class=" col-md-12 form-inline" id="image-content"  style="display:none; padding-left:0; margin-top:15px">
                                <div class="col-md-3  " style="padding-left:0; padding-bottom:5px" v-for="(f,index) in imageList" >
                                    <img @click="setImageIndex(index)" class="img-thumbnail" alt="Cinque Terre" width="100%" height="150" :src="f">
                                </div>
                            </div>
                            <div  class=" col-md-12 row" id="file-content"  style="display:none;  margin-top:15px">
                                <ul class="fileList" style="list-style-type:none" >
                                        
                                </ul>

                            </div>
                        </dd>
                    </dl>
                    <template>
                        <div id="app">
                            <CoolLightBox 
                            :items="imageList" 
                            :index="index"
                            @on-open="openLightBox"
                            @close="closeLightBox">
                            </CoolLightBox>
                        </div>
                    </template>
                    
            </div>
        </div>

    </div>
  </div>
</template>

<script>

export default {
    name: 'forms',
    
    data () {
        return {
        id:'',
        data:{},
        tags:[],
        content_type:'',
        created_by:'',
        is_upload_img: false,
        is_upload_video: false,
        is_upload_file: false,
        videoUploaded:[],
        fileUploaded:[],
        from_list:false,
        imageList:[],
        index: null,

        }
    },
    

    created(){      

        this.from_list = this.$route.query.from_list;
        
    },
    mounted(){

        this.id = this.$route.params.id;        
        this.getData(this.id)
        var vueInstance  = this;
        
    },
    methods: {
        

        getData(id = 0){

            this.has_error = false
            var formData =  new FormData();
            formData.set('id',id)
            this.$http.get('/content/show?id='+id)
            .then(
                (res) =>{
                    this.data = res.data.data;
                    this.created_by = res.data.user.name;
                    var tags = res.data.tags;
                    tags.forEach(element => {
                        this.tags.push(element.tag)
                    });
                    var content_type = res.data.content_type;
                    content_type.forEach(element => {
                        this.content_type = element.title
                        if (element.title === 'image') {
                            $('#image-content').show();
                            this.is_upload_img =  true;
                        }
                        else if (element.title === 'video') {
                            $('#video-content').show();
                            this.is_upload_video =  true;

                        }
                        else if (element.title === 'file' || element.attachment === 1) {
                            $('#file-content').show();
                            this.is_upload_file =  true;
                        }
                    });


                    var content_attachments = res.data.content_attachments;
                    var vueInstance = this
                    content_attachments.forEach(element => {


                        this.getDocumentFile(element.url).then(
                            res =>{
                                var blob = new Blob([res.data],
                                            {
                                                type:res.headers['content-type'],
                                            });
                                blob.lastModifiedDate = new Date();            
                                blob.name = res.headers['content-name']
                                

                                let fileObject = blob;
                                
                                if(vueInstance.is_upload_video === true){
                                    vueInstance.videoUploaded.push(fileObject);

                                    var videoOutput = []
                                    videoOutput.push('<div class="col-md-4" style="padding-left:0" ><video width="100%" height="200" controls="" src="'+URL.createObjectURL(fileObject)+'"></video>'+
                                                    '</div>')
                            

                                    $('#video-content').append(videoOutput.join(''));
                                }
                                else if(vueInstance.is_upload_file === true){
                                    vueInstance.fileUploaded.push(fileObject);

                                    var output = [];
                                    var data = []

                                    var downloadLink = '<a class="downloadFile"  href="#" data-filepath="'+ element.url +'" style="color:red"><i class="fa fa-download"></i></a>';
                                    output.push('<li><div class="row"><div class="col-md-2" style="padding-bottom:5px" >'
                                                    ,'<img class="img-thumbnail" alt="Cinque Terre" width="90%" height="100" src="images/file-icon.png" style="height:70px">'
                                                    ,'</div><div class="col-md-4 " style="padding-left:10px; ">',escape(fileObject.name)
                                                    ,' MB </div><div class="col-md-2" >',downloadLink,'</div></div></li>')
                                
                                    $(".fileList").append(output.join(""));
                                
                                }
                                else if(vueInstance.is_upload_img === true){
                                    // var videoOutput = []
                                    // videoOutput.push('<div class="col-md-3" style="padding-left:0; padding-bottom:5px" >'
                                    //                 +'<img class="img-thumbnail" alt="Cinque Terre" width="100%" height="150" src="'+URL.createObjectURL(fileObject)+'">'+
                                    //                 '</div>')

                                    // $('#image-content').append(videoOutput.join(''));
                                    this.imageList.push(URL.createObjectURL(fileObject))
                                }
                            }
                        )

                    });
                    
                }
            )
            .catch(
                err=>{
                    this.has_error = true;
                    this.errors = err.response.data.errors || {}

                }
            )

        },
        clickBack(){
            if(this.from_list === true){
                localStorage.setItem('remember_content_search', 'true');
            }
        },
        setImageIndex(index) {
            this.index = index
        },
        closeLightBox(){
            this.index = null;
            
            var activeMenu = localStorage.getItem('activeMenu')
            if(activeMenu != null && activeMenu != 'null'){
                activeMenu = JSON.parse(activeMenu);
                activeMenu.forEach(element => {
                    var span = $("span.menu-title-text:contains('"+element+"')" )
                    var menu = $(span).closest('li')
                    var children = $(menu).find('li');

                    $(children).find('i').show();
                });
            }
            
        },
        openLightBox(){
            
            var activeMenu = localStorage.getItem('activeMenu')
            if(activeMenu != null && activeMenu != 'null'){
                activeMenu = JSON.parse(activeMenu);
                activeMenu.forEach(element => {
                    var span = $("span.menu-title-text:contains('"+element+"')" )
                    var menu = $(span).closest('li')
                    var children = $(menu).find('li');

                    $(children).find('i').hide();
                });
            }
        }
        
    },
    
    
    
}

</script>

<style >
    img:hover{
        cursor: pointer;
    }
</style>