<template>
  <div class="login">

    <card header-text="HNM CMS" >
      <div class="card-body card-block">
        <form method="post" @submit.prevent="login" name="login">
          <div class="form-group" style="width:270px">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
              <input type="email" id="email" v-model="email" placeholder="Email" class="form-control">
            </div>
            <div class="input-group" v-if="has_error">
              <span class="text-danger" v-for="email in errors.email"> {{email}}</span>            
            </div>
          </div>
          <div class="form-group" style="width:270px">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
              <input type="password" id="password" v-model="password" placeholder="Password" class="form-control">
            </div>
            <div class="input-group" v-if="has_error">
              <span class="text-danger" v-for="password in errors.password"> {{password}}</span>            
            </div>
            <div class="input-group " v-if="has_error">
              <span class="text-danger">{{error}}</span>            
            </div>
          </div>
          <div class="form-actions form-group">
              <button type="submit" class="btn btn-success btn-md">Log In</button>
              <!-- <button type="submit" class="btn btn-success btn-md float-right">
                <router-link class='link text-light float-right' :to="{name: 'Register'}">Create Account</router-link>
              </button> -->
          </div>
         
          <div class="form-actions form-group">
                <router-link style="color: blue" class='link float-right' :to="{name: 'ForgetPassword'}">Forget Password</router-link>
          </div>
        </form>
      </div>
    </card>

  </div>
</template>

<script>
  export default {
    data() {
      return {
        email: null,
        password: null,
        has_error: false,
        errors:{},
        error:'',
      }
    },
    mounted() {
      // add card title login form
      $('strong.card-title').text(this.systemName);
    },
    methods: {
      login() {
        let loader = this.$loading.show();
        // get the redirect object
        this.has_error =  false;
      
        let data = {
          email: this.email,
          password: this.password,
        }
        this.$store.dispatch('login', data)
            .then(
              res => {
                $('div.login').hide()
                loader.hide()
                const rolePerms = res.data.rolePerms
                var permissions = {};

                try {

                  for(var propName in rolePerms) {
                    if(rolePerms.hasOwnProperty(propName)) {
                        var propValue = rolePerms[propName];
                        
                        permissions[propName] = propValue
                    }
                  }
                  
                } catch (error) {
                  console.log(error)
                }
                localStorage.setItem('token', this.getEncryptedText(JSON.stringify('Bearer '+res.data.token)) )
                localStorage.setItem('rolePerms', this.getEncryptedText(JSON.stringify(permissions)) )
                // this.$router.push({name: 'home'})
                this.redirectAfterLogin(permissions)
                
              }
            ).catch(
              err => {
                loader.hide()
                if (err.response != null) {
                  this.has_error = true;
                  this.errors = err.response.data.errors || {}
                }
                else{

                  this.$toast.error({
                        title:'Login Error',
                        message: err.data.msg,
                  })
                }
                console.log(this.errors + this.error)
              }
            )
           
      },
      redirectAfterLogin(permissions){
        if(permissions.readDashboard === true){
          window.location.href = '/';
        }else if(permissions.readContents === true){
          window.location.href = this.base_url+'/#/content/index';
          window.location.reload()

        }else if(permissions.readContentTypes === true){
          window.location.href = this.base_url+'/#/content/content-type/index'; 
          window.location.reload()

        }else if(permissions.readTags === true){  
          window.location.href = this.base_url+'/#/content/tag/index';   
          window.location.reload()
          
        }else if(permissions.readUsers === true){
          window.location.href = this.base_url+'/#/securities/user';
          window.location.reload()

        }else if(permissions.readRoles === true){
          window.location.href = this.base_url+'/#/securities/role/index'; 
          window.location.reload()
           
        }else if(permissions.readACLs === true){
          window.location.href = this.base_url+'/#/securities/acls/index';  
          window.location.reload()
        }
        else{
          window.location.href = '/';
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .card-title{
    padding-left: 20px;
    word-wrap: break-word;
  }
</style>