<template>
  <div id="app">
    <auth-layout v-if="!isAuth || hasPageError "></auth-layout>
    <div class="admin-container" v-else>
      <Sidebar :navItems="nav"/>
      <div id="right-panel" class="right-panel">
        <Header/>
        <div class="content pb-0">
            <transition enter-active-class="animated fadeIn">
              <router-view></router-view>
            </transition>
        </div>
      </div>
    </div>
    <vue-progress-bar></vue-progress-bar>
  </div>
</template>

<script>
import nav from './elements/nav'
import Header from './elements/Header.vue'
import Sidebar from './elements/Sidebar.vue'
import AuthLayout from './layouts/AuthLayout.vue';
import axios from 'axios';
import { routes } from './router/routes';
import VueRouter from 'vue-router';
import VueProgressBar from 'vue-progressbar'
import Vue from 'vue'

const options = {
  color: '#007bff',
  failedColor: '#007bff',
  // thickness: '5px',
  transition: {
    speed: '0.2s',
    opacity: '0.6s',
    termination: 300
  },
  // autoRevert: true,
  // location: 'top',
  // inverse: false
}
 
Vue.use(VueProgressBar, options )

const router = new VueRouter({
    routes,
    
});

export default {
  data () {
    return {
      nav: nav.items,
    }
  },
  components: {
    AuthLayout,
    Header,
    Sidebar
  },
  computed: {
    name(){
      return this.$route.name
    },
    list() {
      return this.$route.matched
    },
    isAuth () {
      // return this.$route.path.match('auth')
       return this.$store.getters.isLoggedIn;
    },
    hasPageError () {
      var hasPageError = this.$store.getters.hasPageError;
      return hasPageError;

    },
    readDashboard () {
      return this.$store.getters.readDashboard;

    }

  },
  created() {
    // Add a 401 response interceptor
    this.$http.interceptors.response.use(function (response) {
      return response
    }, function (err) {

      if (err.response.status === 401 && err.response.config && !err.response.config.__isRetryRequest) {

        localStorage.clear()
        delete axios.defaults.headers.common['Authorization']
        window.location.href= '/';
              
      }
      return Promise.reject(err)
        
    });

    this.$http.interceptors.request.use(config => {
      $('div.__cov-progress').show()
      this.$Progress.start(); // for every request start the progress
      return config;
    });
    this.$http.interceptors.response.use(
      response => {
        this.$Progress.finish(); // finish when a response is received
        return response;
      },
      function (err) {
        $('div.__cov-progress').hide()
        return Promise.reject(err)   
      }
    );
    
  

    
  },
  methods:{
    
  
  },
 
  mounted(){  
  }
}
  require('vue-flash-message/dist/vue-flash-message.min.css');
  require('vuejs-dialog/dist/vuejs-dialog.min.css');
  require('cxlt-vue2-toastr/dist/css/cxlt-vue2-toastr.css');
  // Import loading indicator stylesheet
  require('vue-loading-overlay/dist/vue-loading.css');
  require('../template/assets/plugin/select2/select2.full.min.js')

  //daterang picker style
  require('vue2-daterange-picker/dist/vue2-daterange-picker.css')

</script>

<style lang="scss">
    @import url('./assets/css/font-awesome.min.css');
    @import url('./assets/css/themify-icons.css');
    @import url('./assets/css/pe-icon-7-filled.css');
    @import url('./assets/css/flag-icon.min.css');
    @import url('./assets/css/cs-skin-elastic.css');

    @import "./assets/scss/style";

    // custome style
    @import url('./assets/css/icons/actions.css');
    @import url('./assets/css/vue-multiselect.min.css');
    @import "./assets/scss/customizedstyle";
    @import url('./assets/plugin/select2/select2.min.css');



    button{
        cursor: pointer;
    }
    img.profile-photo-small{
      width: 50px;
      height: 50px;
    }
    .select2-results__option[aria-selected="true"] {
        position: absolute !important;
        top: auto;
        left: -10000px;
    }
    //style for label text in form create and update
    .form-label-text{
        text-align: right !important;
        padding-top: 6px;
    }
    
</style>
