<template>
  <div class="animated fadeIn">
     <h4>Edit User</h4> 
     <br>
        
        <div class="card">
            <form @submit.prevent="UpdateUser">
                
                <div class="card-body card-block">

                    <div class="row">
                        <div class="form-row col-md-12">
                            <div class="form-group col-md-6">
                                <label for="password" class=" form-control-label">Password</label>
                                <input type="password" id="password" v-model="password" placeholder="Enter Password.." class="form-control">
                                <div class="input-group" v-if="has_error">
                                    <span class="text-danger" v-for="password in errors.password"> {{password}}</span>            
                                </div>
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label for="password_confirmation" class=" form-control-label">Password Comfirmation</label>
                                <input type="password" id="password_confirmation" v-model="password_confirmation" placeholder="Enter Password Comfirmation.." class="form-control">
                        

                            </div>
                            
                            
                        </div>
                    </div>    
                </div>
                <div class="card-header pull-right">
                    <router-link :to="{name: 'user-index'}"><button type="button" class="btn btn-danger " >
                        <i class="fa fa-times"></i> Cancel
                    </button></router-link>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                    
                </div>
            </form>
        </div>

    </div>
  </div>
</template>

<script>
  import Multiselect from 'vue-multiselect'

export default {
    name: 'forms',

    data () {
        return {
            // roles: [{'id':1,'name':'Admin'}],
            
            password:'',
            password_confirmation: '',
            id:0,
            has_error: false,
            errors: [],
       
        }
    },
    
    components: { Multiselect },

    created(){
        this.id = this.$route.params.id;
    },
    mounted(){
    },
    methods: {
       
        UpdateUser(){
            let loader = this.$loading.show();
            this.has_error = false;
            var formData = new FormData();
            formData.append('password',this.password);
            formData.append('password_confirmation',this.password_confirmation);
            formData.append('id',this.id);

            this.$http.post('/user/change-password',formData)
            .then(
                res =>{
                    loader.hide()
                    this.has_error = false
                    this.$router.push({name:'user-index'});
                
                    
                }
            )
            .catch(
                err=>{
                    loader.hide()
                    this.has_error = true;
                    this.errors = err.response.data.errors || {}
                    console.log(err)

                }
            )
        }
    
}

    
}
</script>
<style>
    img.image-preview{
        
        width: 120px;
        height: 120px;
    }
</style>

