<template>
  <div class="animated fadeIn">
     <h4>Edit User</h4> 
     <br>
        
        <div class="card">
            <form @submit.prevent="UpdateUser">
                
                <div class="card-body card-block">

                    <div class="row">
                        <div class="form-row col-md-8">
                            <div class="form-group col-md-6">
                                <label for="name" class=" form-control-label">Name</label>
                                <input type="text" id="name" v-model="name" placeholder="Enter Name.." class="form-control" @keydown="keyhander">
                                <div class="input-group" v-if="has_error">
                                    <span class="text-danger" v-for="name in errors.name"> {{name}}</span>            
                                </div>
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label for="email" class=" form-control-label">Email</label>
                                <input type="email" id="email" v-model="email" placeholder="Enter Email.." class="form-control" @keydown="keyhander">
                                <div class="input-group" v-if="has_error">
                                    <span class="text-danger" v-for="email in errors.email"> {{email}}</span>            
                                </div>
                            </div>
                            
                            
                            <div class="form-group col-md-6">
                                <label class="typo__label" for="">Role</label>
                                <select class="form-control select2" multiple="true" v-model="roles" name="roles[]" id="roles" @mouseover="keyhander">
                                    <option v-for="option in role_options" :value="option.id">{{ option.name }}</option>
                                </select>
                                <!-- <multiselect 
                                    v-model="roles" 
                                    :options="role_options" 
                                    :multiple="true" 
                                    :close-on-select="false" 
                                    :clear-on-select="false" 
                                    :preserve-search="true" 
                                    placeholder="Pick Role" 
                                    label="name" 
                                    track-by="id" 
                                    :preselect-first="false">
                                    <template slot="selection" slot-scope="{ values, search, isOpen }">
                                        <span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} options selected</span>
                                    </template>
                                </multiselect> -->
                                <div class="input-group" v-if="has_error">
                                    <span class="text-danger" v-for="role in errors.roles"> {{role}}</span>            
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="file" class=" form-control-label">Photo</label>
                                <input class="form-control" type="file" id="file" ref="file" accept="image/*" v-on:change="handleFileUpload()" @click="keyhander"/>
                                
                            </div>
                        </div>
                        <div class="form-horizontal col-md-4">
                            <div class="form-group">
                                
                                <img class="image-preview pull-right img-thumbnail"  v-bind:src="imagePreview" @error="onLoadImageError"/>

                            </div>
                        </div>
                    </div>    
                </div>
                <div class="card-header pull-right card-header-no-backgroup">
                    <router-link :to="{name: 'user-index'}"><button type="button" class="btn btn-danger ">
                        <i class="fa fa-times"></i></i> Cancel
                    </button></router-link>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                    
                </div>
            </form>
        </div>

    </div>
  </div>
</template>

<script>
  import Multiselect from 'vue-multiselect'
  import * as http from "http";

export default {
    name: 'forms',

    data () {
        return {
            roles: [],
            has_error: false,
            file: '',
            imagePreview: '/images/default_profile.png',
            id: 0,
            user: {},
            role_options: [  
            ],
            name:'',
            email:'',
            trackBy: 'id',
            errors:[],
       
        }
    },
    
    components: { Multiselect },

    created(){
        this.id = this.$route.params.id;
        var roles = this.$route.params.roles;
        this.getAllRoles().then(res=>{
          res.forEach(element => {
            this.role_options.push( {
                id: element.id,
                name:element.name,
            } );
          });   
        });
        this.getRoleByUserID(this.id).then(res=>{
            res.forEach(element => {
                this.roles.push(element.id)
            });
            $('select#roles').val(this.roles).trigger('change');
        });

    
    },
    mounted(){
        this.getUser(this.id);
               
    },
    methods: {
        
        handleFileUpload(){
            /*
            Set the local file variable to what the user has selected.
            */
            this.file = this.$refs.file.files[0];

            /*
            Initialize a File Reader object
            */
            let reader  = new FileReader();

            /*
            Add an event listener to the reader that when the file
            has been loaded, we flag the show preview as true and set the
            image to be what was read from the reader.
            */
            reader.addEventListener("load", function () {
                this.showPreview = true;
                this.imagePreview = reader.result;
            }.bind(this), false);

            /*
            Check to see if the file is not empty.
            */
            if( this.file ){
                /*
                    Ensure the file is an image file.
                */
                if ( /\.(jpe?g|png|gif)$/i.test( this.file.name ) ) {
                    /*
                    Fire the readAsDataURL method which will read the file in and
                    upon completion fire a 'load' event which we will listen to and
                    display the image in the preview.
                    */
                    reader.readAsDataURL( this.file );
                    console.log(this.file);
                }
            }
        },

        getUser(id = 0){
            this.$http(
                  {
                    method: 'get',
                    url: '/user?id='+ id,
                  })
                  .then(
                    res => {
                        var user = res.data.user;
                        this.name = user.name;
                        this.email = user.email;
                        if (user.photo !== '' && user.photo !== null) {
                            this.imagePreview = user.photo;
                        }
                    }
                  ).catch(
                    err => {
                      console.log(err);
                    }
                  )
        },
        UpdateUser(){
            let loader = this.$loading.show();
            var role_datas = [];
            for (let index = 0; index < this.roles.length; index++) {
                 role_datas.push(this.roles[index].id);
                
            }
            var formData = new FormData();
            formData.append('name',this.name);
            formData.append('email',this.email);
            formData.append('id',this.id);

            // if(role_datas.length > 0) 
            //     formData.append('roles',JSON.stringify(role_datas))
            var roles = $('select#roles').val()
            if(roles.length > 0) 
                formData.append('roles',JSON.stringify(roles))
                
            this.roles = roles

            formData.append('file',this.file);

            this.$http.post('/user/update',formData)
            .then(
                res=>{
                    loader.hide()
                    this.$router.push({name:'user-index'});
                }
            )
            .catch(
                res=>{
                    loader.hide()
                    console.log(res)
                    this.roles = $('select#roles').val()
                    if(res.response.status === 422){
                        this.has_error = true;
                        this.errors = res.response.data.errors || {}
                    }
                    else{
                        
                        this.$toast.error({
                            title:'Update',
                            message:'Update record failed',
                        })
                    }
                }
            )
        },
        keyhander(event){
            //assign roles to avoid lost when vue re render
            this.roles = $('select#roles').val()
        },
       

    },
    
}
</script>
<style>
    img.image-preview{
        
        width: 120px;
        height: 120px;
    }
</style>

