<template>
  <div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        
        <flashMessage transitionIn="animated swing" ></flashMessage>


        <div class="card">
          <div class="card-header">
            <div class="form-inline col-md-12" style="padding: 0;">
              <div class="col-md-3" style="padding: 0px 0 0px 5px;">
                <h4>Users</h4> 
              </div>   
              <div class="col-md-9" style="padding: 0">
                <router-link :to="{name: 'user-create'}"><button  class=" pull-right create-button btn btn-primary" >Create</button></router-link>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form action="" id="search-form" v-on:submit.prevent="search">
                <div class="row pl-4 pr-4 pt-1 pb-1">
                    <div class="col-lg-3 col-md-6 col-xs-12 p-0">
                      <div class="form-group">
                        <label for="keyword">Keyword</label>
                        <div class="input-group">
                            <input type="text" name="keyword" id="keyword" class="form-control" v-model="keyword" placeholder="Search">
                            
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-xs-12">
                      <div class="form-group">
                        <label for="from">Roles </label>
                        <select class="form-control" v-model="role"  >
                            <option>Choose Role</option>
                            <option v-for="option in role_options" :value="option" >{{ option.name }}</option>
                        </select>

                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                      <br>
                      <div class="form-inline">
                        <button class="btn btn-primary" type="button" style="margin-top:7px" @click="search">Search</button>
                      </div>
                      
                    </div>
                    
                </div>
                
              </form>
            <div class="table-responsive">

              <table class="table table-striped first-td-padding">
                <thead>
                <tr>
                  <td>&numero;</td>
                  <td>Photo</td>
                  <td>Name</td>
                  <td>Email</td>
                  <td align="center">Role Name</td>
                  <td width="110px" align="right">Actions</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(user,key,index) in laravelData.data ">
                  <td>{{key+indexOfPage}}</td>
                  <td>
                    <img class="profile-photo-small" v-if="user.photo != null" :src="user.photo" @error="onLoadImageError"></img>
                    <img class="profile-photo-small" v-else v-bind:src="default_profile"></img>

                  </td>
                  <td>{{user.name}}</td>
                  <td>{{user.email}}</td>
                  <td align="center" width="20%"><span class="badge badge-primary " v-for="role in user.roles" >{{role.name}}</span></td>
                  <td align="right">
                    <router-link :to="{name:'user-edit',params:{id:user.id} }"> <i class="fa fa-edit action-icon"> </i></router-link>
                    &nbsp;
                    <router-link :to="{name:'user-change-password',params:{id:user.id} }"> <i class="fa fa-key action-icon"> </i></router-link>
                    &nbsp;
                    <a href="#" @click.prevent="blockUser(user.id,user.status,$event)" v-if="user.status==1"><i class="fa fa-ban action-icon"></i></a>
                    <a href="#" @click.prevent="blockUser(user.id,user.status,$event)" v-else><i class="fa fa-ban block-icon"></i></a>

                  </td>
                </tr>
                
                </tbody>
              </table>
              <pagination :data="laravelData" @pagination-change-page="getUsers"></pagination>

            </div>
          </div>
          
        </div>
      </div>
    </div>

  </div>
</template>


<script>

  import Multiselect from 'vue-multiselect'

  export default {
    
    data() {
      return {
       
        has_error: false,
        errors: {},
        success: false,
        laravelData: {},
        indexOfPage: 0,
        page:1,

        role: 'Choose Role',
        role_options:[],
        keyword:'',
        params:{
          keyword:'',
          role:''
        },
        
      }
    },
    components: { Multiselect },

    created(){

    },
    mounted() {
      //
        this.getUsers()
        
        this.getAllRoles().then(res=>{
          res.forEach(element => {
            this.role_options.push( {
                id: element.id,
                name:element
                .name,
            } );
          });   
        });
             
    },
    methods: {
      getUsers(page = 1,param){      
        this.page = page;  
        this.indexOfPage = (page-1)*this.itemPerPage+1;
        this.$http(
                  {
                    method: 'get',
                    url: '/user/all?page='+ page+'&keyword='+this.params.keyword+'&role='+this.params.role,
                    param
                  })
                  .then(
                    res => {
                      app.success =  true
                      this.laravelData = res.data.users;
                    }
                  ).catch(
                    err => {
                      console.log(err);
                      app.has_error = true;
                      try {
                          app.errors = err.response.data.errors || {}
                      } catch (error) {
                        
                      }
                    }
                  )
      },
     
      blockUser(id = 0,status= 1, event){
          let loader = this.$loading.show()
          event.stopPropagation();
          this.has_error = false;
          var formData = new FormData();
          formData.append('id',id);
          formData.append('status',status);

          this.$http.post('/user/block-unblock',formData)
          .then(
              res =>{
                  loader.hide()
                  var message ='';
                  this.has_error = false
                  this.getUsers(this.page);

                  if(res.data.user_status=== 1)
                    message = 'Has been actived user successfully!'
                  else
                    message = 'Has been blocked user successfully!'  

                  this.flash(message, 'success', {
                    timeout: 3000,
                    
                  });

              }
          )
          .catch(
              err=>{
                loader.hide()
                console.log(err)

              }
          )
      },
      
      
      search(){

        var search_role ='';

        if(this.role !== 'Choose Role'){
          search_role = this.role.id;

        }
        this.params.keyword = this.keyword;
        this.params.role = search_role;
          
        this.page = 1;
        this.getUsers(this.page);
      }
    }
  }

</script>


<style lang="scss">
  .table thead tr{
    color: #007bff;
  }
  .error-icon{
    color: #e34a4a;
  }
  .success-icon {
    display: inline-block;
    color: #4ae387;
  }
  .table-sm th, .table-sm td{
    padding: .7rem;
  }
  .color-icon-label-table {
    td:first-child {
      width: 1rem;
    }
  }
  button.create-button{
    width: 100px;
  }
</style>
