<template>
    <div class="col-md-6 col-lg-3">
        <div
            class="card text-white"
            :class="bgclass"
        >
            <div class="card-body">
                <div class="card-left pt-1 float-left">
                    <h4 class="mb-0 fw-r">

                        <div v-if="hasPercentage === 'yes' ">
                            <span class="count float-left" >{{ counter }}</span>
                            <span>{{ symbol }}</span>
                        </div>
                        <div v-else>
                            <span class="currency float-left mr-1" v-if="symbol">{{ symbol }}</span>
                            <span class="count">{{counter}}
                            
                                <!-- <basix-counter
                                  :from = 0
                                  :to = Number(counter)
                                  :duration = "2000"
                                ></basix-counter> -->

                            </span>
                        </div>

                    </h4>
                    <p class="text-light mt-1 m-0">{{ title }}</p>
                </div><!-- /.card-left -->

                <div class="card-right float-right text-right">
                    <i
                        class="icon fade-5"
                        :class="icon"
                    ></i>
                </div><!-- /.card-right -->

            </div>
            <div class="card-footer">
                <router-link :to="{name: route }">More info <i class="fa fa-arrow-circle-right"></i></router-link>
            </div>
        </div>
    </div>
</template>

<script>
export default{
    name: 'info-icon-box',
    props: ['icon', 'symbol', 'counter', 'title', 'bgclass', 'hasPercentage','route'],
    // props: {
    //     symbol: String,
    //     counter: Number,
    //     icon: String,
    //     title: String,
    //     bgclass: String,
    //     hasPercentage: String
    // }

}
</script>
