<template>
  <div class="animated fadeIn">
     <h4>Create Role</h4> 
     <br>
        
        <div class="card">
            <form @submit.prevent="CreateRole">
                
                <div class="card-body card-block">

                    <div class="row">
                        <div class="form-row col-md-12">
                            <div class="form-group col-md-4">
                                <label for="name" class=" form-control-label">Name</label>
                                <input type="text" id="name" v-model="name" placeholder="Enter Name.." class="form-control">
                                <div class="input-group" v-if="has_error">
                                    <span class="text-danger" v-for="name in errors.name"> {{name}}</span>            
                                </div>
                            </div>
                            
                            <div class="form-group col-md-4">
                                <label for="code" class=" form-control-label">Code</label>
                                <input type="code" id="code" v-model="code" placeholder="Enter Code.." class="form-control">
                                <div class="input-group" v-if="has_error">
                                    <span class="text-danger" v-for="code in errors.code"> {{code}}</span>            
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="description" class=" form-control-label">Description</label>
                                <textarea type="text" id="description" rows="3" v-model="description" placeholder="Enter Description.." class="form-control"></textarea>
                                <div class="input-group" v-if="has_error">
                                    <span class="text-danger" v-for="description in errors.description"> {{description}}</span>            
                                </div>
                            </div>
                            
            
                        </div>
                        
                    </div>    
                </div>
                <div class="card-header pull-right card-header-no-backgroup">
                    <router-link :to="{name: 'role-index'}"><button type="button" class="btn btn-danger " >
                        <i class="fa fa-times"></i></i> Cancel
                    </button></router-link>
                    <button type="" class="btn btn-primary">
                        <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                    
                </div>
            </form>
        </div>

    </div>
  </div>
</template>

<script>

export default {
    name: 'forms',

    data () {
        return {
        
        
        name:'',
        code:'',
        description:'',
     
        has_error: false,
        errors:[],
        redirect_params:[],

        }
    },
    

    created(){        

    },
    mounted(){
    },
    methods: {
        
        
        CreateRole(){
            let loader = this.$loading.show();
            this.has_error = false
            
            var formData = new FormData();
            formData.append('name',this.name);
            formData.append('code',this.code);
            formData.append('desc',this.description);
        
            this.$http.post('/role',formData)
            .then(
                res=>{
                    loader.hide()
                    this.$router.push({
                        name:'role-index',
                        params:{
                            has_msg: true,
                            msg:'Created role succesfully!'
                        }
                    });
                }
            )
            .catch(
                err=>{
                    loader.hide()
                    if(err.response.status === 422){
                        this.has_error = true;
                        this.errors = err.response.data.errors || {}
                    }
                    else{
                        
                        this.$toast.error({
                            title:'Create',
                            message:'Create record failed',
                        })
                    }
                }
            )
        },
        
    },
    
}
</script>

