<template>
  <div class="animated fadeIn">
     <h4>Access Control List: {{role.name}}</h4> 
     <br>
        
        <div class="card">
            <form @submit.prevent="UpdateRole">
                
                <div class="card-body card-block">

                    <div class="table-responsive">

              <table class="table table-striped first-td-padding">
                <thead>
                <tr>
                  <td>Permission Name</td>
                  <td>Create</td>
                  <td>Read</td>
                  <td>Update</td>
                  <td> Delete</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="perm in perms">
                    <td>{{perm.name}}</td>
                    <td>
                        <input type="checkbox" acls-type="create" :checked="perm.create == 1" v-bind:acls-id="perm.acl_id" @change="onSelectCheckbox($event ,'create', perm.acl_id)">
                    </td>
                    <td>
                        <input type="checkbox" acls-type="read" :checked="perm.read == 1" v-bind:acls-id="perm.acl_id" @change="onSelectCheckbox($event ,'read', perm.acl_id)">
                    </td>
                    <td>
                        <input type="checkbox" :checked="perm.update == 1" acls-type="update" v-bind:acls-id="perm.acl_id" @change="onSelectCheckbox($event ,'update', perm.acl_id)">
                    </td>
                    <td>
                        <input type="checkbox" acls-type="delete" :checked="perm.delete == 1" v-bind:acls-id="perm.acl_id" @change="onSelectCheckbox($event ,'delete', perm.acl_id)">
                    </td>
                  
                </tr>
                </tbody>
              </table>

            </div>
                </div>
                <div class="card-header pull-right">
                    <router-link :to="{name: 'role-index'}"><button type="button" class="btn btn-danger " >
                        <i class="fa fa-times"></i> Back
                    </button></router-link>
                    
                </div>
            </form>
        </div>

    </div>
  </div>
</template>

<script>

export default {

    data () {
        return {
        
        name:'',
        code:'',
        description:'',
        success: false,
        role_id:0,   
        has_error: false,
        errors:[],
        redirect_params:[],
        perms:[],
        role:{},

        }
    },
    

    created(){        
        this.role_id = this.$route.params.role_id;
        this.getRolePermission(this.role_id);   
        this.showAlertMsg('toast','Permission');

    },
    mounted(){
        

    },
    methods: {
        
        getRolePermission(role_id = 0){

            this.has_error = false
            var formData =  new FormData();
            this.$http.get('/role/permissions?role_id='+role_id)
            .then(
                (res) =>{
                    this.perms = res.data.perms;
                    this.role = res.data.role;


                }
            )
            .catch(
                err=>{
                    console.log(err)
                    this.has_error = true;
                    this.errors = err.response.data.errors || {}

                }
            )

        },
       
        onSelectCheckbox: function(event ,type, acl_id) {

            var formData = new FormData();
            formData.append('role_id',this.role.id);
            formData.append('acl_id',acl_id);
            formData.append('type', type);
            formData.append('status', event.target.checked);

            this.$http.post('/role/update/permission', formData)
            .then(
                (res) =>{
                    try {
                        this.$store.dispatch('user_permission_change', res.data.roles)
                        localStorage.setItem('rolePerms', this.getEncryptedText(JSON.stringify(res.data.roles)) )
                        localStorage.setItem('success', true);
                        localStorage.setItem('msg', 'Updated Successfully!')
                        // window.location.reload();
                    } catch (error) {
                        console.log(error)
                    }
                    this.$toast.success({
                        title:'Permission',
                        message:'Updated successfully',
                    })
                    
                }
            )
            .catch(
                err=>{
                    this.$toast.error({
                        title:'Permission',
                        message:'Updated error',
                    })

                }
            )
        }
        
    },
    
}
</script>

