<template>
  <div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        
        <flashMessage transitionIn="animated swing" ></flashMessage>

        <div class="card">
          <div class="card-header">
            <div class="form-inline col-md-12" style="padding: 0;">
              <div class="col-md-3" style="padding: 0px 0 0px 5px;">
                <h4>Access Token</h4> 
              </div>   
              <div class="col-md-9" style="padding: 0">
                <router-link :to="{name: 'token-create'}"><button  class=" pull-right create-button btn btn-primary" >Create</button></router-link>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form action="" id="search-form" v-on:submit.prevent="search">
                <div class="row pl-4 pr-4 pt-1 pb-1">
                    <div class="col-lg-3 col-md-6 col-xs-12 p-0">
                      <div class="form-group">
                        <label for="keyword">Keyword</label>
                        <div class="input-group">
                            <input type="text" name="keyword" id="keyword" class="form-control" v-model="keyword" placeholder="Search">
                            
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-xs-12">
                      <br>
                      <div class="form-inline">
                        <button class="btn btn-primary" type="button" style="margin-top:7px" @click="search">Search</button>
                      </div>
                      
                    </div>
                    
                </div>
                
              </form>
            <div class="table-responsive">

              <table class="table table-striped first-td-padding">
                <thead>
                <tr>
                  <td>&numero;</td>
                  <td>Description</td>
                  <td>Token</td>
                  <td>Created By</td>
                  <td>Created At</td>
                  <td width="110px" align="right">Actions</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(data,key,index) in laravelData.data ">
                  <td>{{key+indexOfPage}}</td>
                  <td>{{data.desc}}</td>
                  <td class="break-text-style" width="30%">{{data.api_token}}</td>
                  <td>{{data.user.name}}</td>
                  <td>{{formatDate(data.created_at)}}</td>
                  <td align="right">
                    
                    <a href="#" @click.prevent="copyToken(data.api_token)" data-toggle="tooltips" title="Copy Token"> 
                      <i class="fa fa-copy action-icon" style="font-size:20px"> </i>
                    </a>
                    
                  </td>
                </tr>
                
                </tbody>
              </table>
              <pagination :data="laravelData" @pagination-change-page="getDatas"></pagination>

            </div>
          </div>
          
        </div>
      </div>
    </div>

  </div>
</template>


<script>


  export default {
    
    data() {
      return {
       
        has_error: false,
        errors: {},
        success: false,
        laravelData: {},
        indexOfPage: 0,
        page:1,

        keyword:'',
        params:{
          keyword:'',
        },
        
      }
    },

    created(){
        
      
    },
    mounted() {
      //
        this.getDatas()
        var msg = this.$route.params.msg;
        if(this.$route.params.has_msg === true)
          this.flash(msg, 'success', {
                    timeout: 4000,
                    
                });

    },
    methods: {
      getDatas(page = 1,param){      
        this.page = page;  
        this.indexOfPage = (page-1)*this.itemPerPage+1;
        this.$http.get('/token?keyword='+this.params.keyword+'&page='+page) 
                  .then(
                    res => {
                      app.success =  true
                      this.laravelData = res.data.datas;
                    }
                  ).catch(
                    err => {
                      app.has_error = true;
                      try {
                          app.errors = err.response.data.errors || {}
                      } catch (error) {
                        
                      }
                    }
                  )
      },
   
      search(){

        
        this.params.keyword = this.keyword;
          
        this.page = 1;
        this.getDatas(this.page, this.params);
      },
      deleteItem(id =  0){
        this.deleteData(id,'deleteTags','/tag/delete');  
      },
      onCopy: function (e) {
        alert('You just copied: ' + e.text)
      },
      onError: function (e) {
        alert('Failed to copy texts')
      },
      copyToken: function(token){
        
        //create fake textarea
        let textarea = $('<textarea style=""></textarea>');
        textarea.text(token);
        $('body').append(textarea);
        textarea.select();
        
        document.execCommand('copy')
        $('textarea').remove();
        this.$toast.success({
                        title:'Copy',
                        message:'Copied Token to clipboard!',
                    })

      }
      
    }
  }

</script>


<style lang="scss">
  .table thead tr{
    color: #007bff;
  }
  .error-icon{
    color: #e34a4a;
  }
  .success-icon {
    display: inline-block;
    color: #4ae387;
  }
  .table-sm th, .table-sm td{
    padding: .7rem;
  }
  .color-icon-label-table {
    td:first-child {
      width: 1rem;
    }
  }
  button.create-button{
    width: 100px;
  }
</style>
