<template>
  <div class="register">

    <card header-text="Create New Account">
      <form method="post" 
        @submit.prevent="register" 
        name="register">
        <div class="form-group" >
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
            <input type="text" id="name" v-model="name" placeholder="Name" class="form-control">
          </div>
          <div class="input-group" v-if="has_error">
              <span class="text-danger" v-for="name in errors.name" >{{name}}</span>
          </div>
        </div>
        <div class="form-group" >
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
            <input type="email" id="email" v-model="email" placeholder="Email" class="form-control">
          </div>
          <div class="input-group" v-if="has_error">
              <span class="text-danger" v-for="email in errors.email" >{{email}}</span>
          </div>
        </div>
        <div class="form-group" >
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
            <input type="password" id="password" v-model="password" placeholder="Password" class="form-control">
          </div>
          <div class="input-group" v-if="has_error">
              <span class="text-danger" v-for="password in errors.password" >{{password}}</span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
            <input type="password" id="password_confirmation" v-model="password_confirmation" placeholder="password_confirmation" class="form-control">
          </div>
          <div class="input-group" v-if="has_error">
              <span class="text-danger" v-for="password_confirmation in errors.password_confirmation" >{{password_confirmation}}</span>
          </div>
        </div>
        <div class="abc-checkbox abc-checkbox-primary">
          <input id="checkbox1" type="checkbox" checked>
          <label for="checkbox1">
            <span class="abc-label-text">I agree to <router-link to="">Terms of Use.</router-link></span>
          </label>
        </div>
        <div class="d-flex flex-column flex-lg-row align-items-center justify-content-between down-container">
          <button class="btn btn-primary" type="submit">
            Sign Up
          </button>
          <button type="submit" class="btn btn-primary btn-md float-right">
            <router-link class='link text-light float-right' :to="{name: 'login'}">Already joined?</router-link>
          </button>
        </div>
      </form>
    </card>

  </div>
</template>

<script>
  // export default {
  //   name: 'Register'
  // }
  export default {
    data() {
      return {
        name: '',
        email: '',
        password: '',
        password_confirmation: '',
        has_error: false,
        error: '',
        errors: {},
        success: false
      }
    },
    methods: {
      register() {
        var app = this; 
        app.has_error = false
        let data = {
          name: this.name,
          email: this.email,
          password: this.password,
          password_confirmation: this.password_confirmation
        }
        
        // this.$auth.register({
        //   data: {
        //     name:app.name,
        //     email: app.email,
        //     password: app.password,
        //     password_confirmation: app.password_confirmation,
          
        //   },
        //   success: function () {
        //     app.success = true
        //     Vue.prototype.$http.defaults.headers.common['Authorization'] = token

        //     this.$router.push({name: 'home', params: {successRegistrationRedirect: true}})
        //   },
        //   error: function (res) {
        //     app.has_error = true
        //     app.error = res.response.data.error

        //     app.errors = res.response.data.errors || {}
        //     console.log(app.errors)
            
        //   }
        // })

        this.$store.dispatch('register', data)
                .then(
                  res => {
                    app.success = true
                    this.prototype.$http.defaults.headers.common['Authorization'] = token

                    this.$router.push({name: 'home'})


                  }
                ).catch(
                  err => {
              
                    app.has_error = true;
                    app.errors = err.response.data.errors || {}
                  }
                )
      }
    }
  }
</script>

<style lang="scss">
  .register {

    h2 {
      text-align: center;
    }
    width: 21.375rem;

    .down-container {
      margin-top: 2.6875rem;
    }
  }
</style>
