<template>

    <div class="row">

        <info
            icon="icon-lg pe-7f-users"
            bgclass="bg-flat-color-3"
            v-bind:counter="totalUserNumber"
            route="user-index"
            title="Total Users">
        </info>
        <info
            icon="icon-lg fa fa-book"
            bgclass="bg-flat-color-1"
            v-bind:counter="totalContentNumber"
            route="content-index"
            title="Total Contents">
        </info>
        <info
            icon="icon-lg fa fa-filter"
            bgclass="bg-flat-color-6"
            v-bind:counter="totalContentTypeNumber"
            route="content-type-index"
            title="Total Content types">
        </info>
        <info
            icon="icon-lg fa fa-tags"
            bgclass="bg-flat-color-2"
            v-bind:counter="totalTagNumber"
            route="tag-index"
            title="Total Tags">
        </info>

        <!-- <RealTime title="Real time"/> 
        <Traffic title="Real time"/>
        <EarningStats/>
        <Download/>
        <Revenue/> -->

    </div>

</template>

<script>
import Info from './dashboard/InfoBox.vue';
import InfoChart from './dashboard/InfoBoxChart.vue';
import InfoChartTwo from './dashboard/InfoBoxChart2.vue';
import RealTime from './dashboard/RealTime.vue';
import Traffic from './dashboard/Traffic.vue';
import EarningStats from './dashboard/EarningStats.vue';
import Download from './dashboard/Download.vue';
import Revenue from './dashboard/Revenue.vue';
import configurations from '../configs/conf'

let totalUserNumber = 0;
let totalContentNumber = 0;
let totalContentTypeNumber = 0;
let totalTagNumber = 0;

const secretPassKey = configurations['secretPassKey'];
var token = localStorage.getItem('token');
if(token != null){
   token = Vue.CryptoJS.AES.decrypt(token, secretPassKey).toString(Vue.CryptoJS.enc.Utf8)
}
function XHRequest(method = 'GET', url = '', async = false, token = '', callBackFunction) {
    var xhr = new XMLHttpRequest();
    xhr.open(method, url , async); // your url will pass to open method

    xhr.setRequestHeader('Authorization', token);
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var data = JSON.parse(this.response);
            if (typeof callBackFunction === 'function') callBackFunction(data);
        }
    };
    xhr.send();
}

XHRequest('GET','/user/get-all',false, token, function(response) {
    var number = 0
    try {
        number = Object.entries(response.users).length;
    } catch (error) {
        console.log(error)
    }
    totalUserNumber = number

});

XHRequest('GET','/content/all',false, token, function(response) {
    var number = 0
    try {
        number = Object.entries(response.datas).length;
    } catch (error) {
        console.log(error)
    }
    totalContentNumber = number

});
XHRequest('GET','/content-type/all',false, token, function(response) {
    var number = 0
    try {
        number = Object.entries(response.datas).length;
    } catch (error) {
        console.log(error)
    }
    totalContentTypeNumber = number

});
XHRequest('GET','/tag/all',false, token, function(response) {
    var number = 0
    try {
        number = Object.entries(response.datas).length;
    } catch (error) {
        console.log(error)
    }
    totalTagNumber = number
});
export default{
    name: 'dashboard',
    data(){
        return{
            totalUserNumber:totalUserNumber,
            totalContentNumber:totalContentNumber,
            totalContentTypeNumber:totalContentTypeNumber,
            totalTagNumber:totalTagNumber,

        }
    },
    components: {
        Info,
        InfoChart,
        InfoChartTwo,
        // RealTime,
        // Traffic,
        EarningStats,
        Download,
        Revenue
    },
    mounted(){
        this.getTotalUsers().then(
            res=>{
                var data = res.data;
                var number = 0
                try {
                    number = Object.entries(res).length;
                } catch (error) {
                    
                }
                this.totalUserNumber = String(number)
            }
        )
    }
}


</script>
<style>
    a {
        color: rgba(0, 0, 255, 0.733);
    }
    a:link{
        color: rgba(0, 0, 255, 0.733);
    }
    a:visited{
        color: rgba(0, 0, 255, 0.733);
    }
    a:active{
        color: rgba(0, 0, 255, 0.733);
    }
    
</style>