<template>
  <div class="animated fadeIn">
     <h4>Create Content Type</h4> 
     <br>
        
        <div class="card">
            <form @submit.prevent="CreateData">
                
                <div class="card-body card-block">

                    <div class="row">
                        <div class="form-row col-md-12">
                            <div class="form-group col-md-6">
                                <label for="title" class=" form-control-label">Title</label>
                                <input type="text" id="title" v-model="title" placeholder="Enter Title.." class="form-control">
                                <div class="input-group" v-if="has_error">
                                    <span class="text-danger" v-for="title in errors.title"> {{title}}</span>            
                                </div>
                            </div>
                            
                            
                            <div class="form-group col-md-6">
                                <label for="desc" class=" form-control-label">Description</label>
                                <input type="text" id="desc" rows="2" v-model="desc" placeholder="Enter Description.." class="form-control">
                                <div class="input-group" v-if="has_error">
                                    <span class="text-danger" v-for="desc in errors.desc"> {{desc}}</span>            
                                </div>
                            </div>
                            
            
                        </div>
                        <div class="form-row col-md-12">
                            <div class="form-inline col-md-6">
                                <br>
                                <br>
                                <input type="checkbox" id="attachment" v-model="attachment" class="form-control">

                                &nbsp; <label for="attachment" class=" form-control-label">Attachment</label>
                                
                            </div>
                        
                        </div>
                        
                    </div>    
                </div>
                <div class="card-header pull-right card-header-no-backgroup">
                    <router-link :to="{name: 'content-type-index'}"><button type="button" class="btn btn-danger " >
                        <i class="fa fa-times"></i></i> Cancel
                    </button></router-link>
                    <button type="" class="btn btn-primary">
                        <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                    
                </div>
            </form>
        </div>

    </div>
  </div>
</template>

<script>

export default {
    name: 'forms',

    data () {
        return {
        title:'',
        desc:'',
        tag_options:[],
        tag:'Choose Tag',
        type:'Image',

        attachment: false,
        has_error: false,
        errors:[],
        redirect_params:[],

        }
    },
    

    created(){        

    },
    mounted(){
    },
    methods: {
        
        CreateData(){
            let loader = this.$loading.show();
            this.has_error = false
            
            var formData = new FormData();
            formData.append('title',this.title);
            formData.append('desc',this.desc);
            formData.append('attachment',this.attachment);
            console.log(formData);

            this.$http.post('/content-type',formData)
            .then(
                res=>{
                    loader.hide()
                    this.$router.push({
                        name:'content-type-show',
                        params:{
                            id: res.data.data.id,
                        }
                    });
                }
            )
            .catch(
                err=>{
                    loader.hide()
                    if(err.response.status === 422){
                        this.has_error = true;
                        this.errors = err.response.data.errors || {}
                    }
                    else{
                        
                        this.$toast.error({
                            title:'Create',
                            message:'Create record failed',
                        })
                    }
                }
            )
        },
        
    },
    
}
</script>

