<template>
  <div class="animated fadeIn">
     <h4>Edit Content Type</h4> 
     <br>
        
        <div class="card">
            <form @submit.prevent="UpdateData">
                
                <div class="card-body card-block">

                    <div class="row">
                        <div class="form-row col-md-12">
                            <div class="form-group col-md-6">
                                <label for="title" class=" form-control-label">Title</label>
                                <input type="text" id="title" v-model="title" placeholder="Enter Title.." class="form-control">
                                <div class="input-group" v-if="has_error">
                                    <span class="text-danger" v-for="title in errors.title"> {{title}}</span>            
                                </div>
                            </div>
                            
                            
                            <div class="form-group col-md-6">
                                <label for="description" class=" form-control-label">Description</label>
                                <input type="text" id="description" rows="2" v-model="description" placeholder="Enter Description.." class="form-control">
                                
                            </div>
                            
            
                        </div>
                        <div class="form-row col-md-12">
                            <div class="form-inline col-md-6">
                                <br>
                                <br>
                                <input type="checkbox" id="attachment" v-model="attachment" class="form-control">

                                &nbsp; <label for="attachment" class=" form-control-label">Attachment</label>
                                
                            </div>
                        
                        </div>
                        
                    </div>    
                </div>
                <div class="card-header pull-right card-header-no-backgroup">
                    <router-link :to="{name: 'content-type-index'}"><button type="button" class="btn btn-danger " >
                        <i class="fa fa-times"></i></i> Cancel
                    </button></router-link>
                    <button type="" class="btn btn-primary">
                        <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                    
                </div>
            </form>
        </div>

    </div>
  </div>
</template>

<script>

export default {
    name: 'forms',

    data () {
        return {
        
        title:'',
        code:'',
        description:'',
        id:0,   
        has_error: false,
        errors:[],
        redirect_params:[],
        attachment:false,

        }
    },
    

    created(){        
        this.id = this.$route.params.id;        
        this.getData(this.id)

    },
    mounted(){
        

    },
    methods: {
        UpdateData(){
            let loader = this.$loading.show();
            this.has_error = false
            
            var formData = new FormData();
            formData.append('title',this.title);
            if (this.description != null && this.description !== '' && this.description !== 'null')
                formData.append('desc',this.description);
            formData.append('attachment',this.attachment);
            formData.append('id',this.id);

            this.$http.post('/content-type/update',formData)
            .then(
                res=>{
                    loader.hide();
                    this.$router.push({
                        name:'content-type-show',
                        params:{
                            id: res.data.data.id,
                        }
                    });
                }
            )
            .catch(
                err=>{
                    loader.hide()
                    if(err.response.status === 422){
                        this.has_error = true;
                        this.errors = err.response.data.errors || {}
                    }
                    else if(err.response.status === 550){
                        this.$toast.error({
                            title:'Update',
                            message:err.response.data.msg,
                        })
                    }
                    else{                        
                        this.$toast.error({
                            title:'Update',
                            message:'Update record failed',
                        })
                    }
                }
            )
        },
        getData(id = 0){

            this.has_error = false
            var formData =  new FormData();
            formData.set('id',id)
            this.$http.get('/content-type/show?id='+id)
            .then(
                (res) =>{
                    this.title = res.data.data.title;
                    this.description = res.data.data.desc;
                    this.attachment = res.data.data.attachment;

                }
            )
            .catch(
                err=>{
                    this.has_error = true;
                    this.errors = err.response.data.errors || {}

                }
            )

        },
       
        
    },
    
}
</script>

