<template>
    <a id="menuToggle" class="menutoggle pull-left" @click="handleSidebarToggle">
        <i class="fa fa fa-tasks"></i>
    </a>
</template>
<script>
export default{
    data(){
        return{
            clickable: true
        }
    },
    methods: {
        handleSidebarToggle(e){
            if( this.clickable ){
                this.clickable = false;
                document.body.classList.toggle('open');
                this.clickable = true;
            }
            var clickTarget =  $(e.target).attr('class');
            
            if(clickTarget === 'fa fa fa-tasks' ||  clickTarget.search('menutoggle pull-left') >= 0 ){
                e.target.parentElement.classList.toggle('collapsed')

                var body = $('body').attr('class');
                if( body === 'open'){
                    var navMenu =  $('.menu-item-has-children')
                    for (let index = 0; index < navMenu.length; index++) {
                        const menu = navMenu[index];
                        if($(menu).attr('class').search('show') > 0){
                            
                            $(menu).trigger('click');
                        }
                        
                    }
                }
                else{
                    var activeMenu = localStorage.getItem('activeMenu')
                    if(activeMenu != null && activeMenu != 'null'){
                        activeMenu = JSON.parse(activeMenu);
                        activeMenu.forEach(element => {
                            var span = $("span.menu-title-text:contains('"+element+"')" )
                            var menu = $(span).closest('li')
                            $(menu).trigger('click')
                        });
                    }
                }
            }   

        }
    }
}
</script>