<template>
    <li :class="classList" >
        <slot></slot>
    </li>
</template>

<script>
    export default{
        name: 'sidebar-nav-item',
        props: {
            classes:{
                type: String,
                default: ''
            }
        },
        computed: {
            classList(){
                return [
                    'nav-item',
                    ...this.itemClasses     // pull them all properties and create a key value pair
                ]
            },
            itemClasses(){
                return this.classes ? this.classes.split( ' ') : ''
            }
        },
        mounted(){
            let activeMenu = [];
            $('.menu-item-has-children').on('click', function(e) {
                var navMenu =  $('.menu-item-has-children')
                for (let index = 0; index < navMenu.length; index++) {
                    const menu = navMenu[index];
                    if($(menu).attr('class').search('show') > 0){
                        var menuTitle =  $(menu).find('span.menu-title-text:first').text();
                        activeMenu[index] = menuTitle;
                    }   
                }

                localStorage.setItem('activeMenu',JSON.stringify(activeMenu));
            })  

        },

    }
</script>