<template>

    <div class="navbar-header" @click="handleSidebarToggle">
        <modals-container/>
        <button
            @click="mainmenuToggle"
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#main-menu"
            aria-controls="main-menu"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <a href="#" v-if="isAdmin===true" @click="editSystemName" class="navbar-brand" data-toggle="tooltips" title="Click to update Name" style="padding-left:17px !important; padding-bottom: 0px !important;">
            <h4 class="system-name" >{{systemName}}</h4>
            <!-- <img src="../../images/logo.png" alt="Logo"> -->
        </a>
        <a  href="#" @click="(e) => {e.preventDefault()}"   class="navbar-brand"  style="padding-left:17px !important; padding-bottom: 0px !important;" v-else>
            <h4 class="system-name" >{{systemName}}</h4>
        </a>

        <router-link to="/" class="navbar-brand hidden">
            <img src="../../images/logo2.png" alt="Logo">
        </router-link>

        <sidebar-collapse></sidebar-collapse>

    </div>

</template>
<script>
    
export default {
	name: 'sidebar-header',
    data(){
        return{
            clickable: true,
            isAdmin: false,
        }
    },
    created(){
        var permissions = localStorage.getItem('rolePerms');
        if(permissions != null)
            permissions = JSON.parse( this.CryptoJS.AES.decrypt(permissions, this.secretPassKey).toString(this.CryptoJS.enc.Utf8) )

        this.isAdmin = permissions['hasRoleAdmin']
    },
    mounted(){
        this.$root.$on('change-app-name', (data)=>{
            this.systemName = data;
            //change page title 
            document.title = this.systemName
        })
    },
	methods: {
        handleSidebarToggle(e){
            // if( this.clickable ){
            //     this.clickable = false;
            //     document.body.classList.toggle('open');
            //     this.clickable = true;
            // }
 

        },

        mainmenuToggle(e){
            if( this.clickable ){
                this.clickable = false;
                document.body.classList.toggle('mobile-menu');
                e.target.childElement.classList.toggle('collapsed')
                this.clickable = true;
            }
        },
        editSystemName(e){
            e.preventDefault()
            this.$modal.show({
                template: `
                    <div class="content col-md-12">
                        <h4>Update System Name</h4>
                        <br><br><br>
                        
                        <div class="form-horizontal">
                        
                            <div class="form-group row">
                                <label for="title" class="control-label col-md-2 form-label-text"> Name </label>
                                <div class="col-md-10">
                                    <input type="text" id="title" v-model="appName"  placeholder="Enter Name.. " class="form-control ">    
                                    <div v-if="has_error" >
                                        <span class="text-danger" v-for="name in errors.name"> {{name}}</span>            
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <br>
                        <div class="pull-right">
                            <button class="btn btn-danger" @click="$emit('close')" style="margin-right:10px">Cancel</button>
                            <button class="btn btn-primary" @click="saveAppName">Save</button>
                        </div>

                    </div>
                    `,
                    props: ['name', 'foo','pivotY'],
                    data(){
                        return{
                            has_error: false,
                            appName: this.name
                        }
                    },
                    methods: {
                        
                        saveAppName(event){
                            // let loader = this.$loading.show();
                            this.has_error = false
                            
                            var formData = new FormData();
                            formData.append('name',this.appName);
                            
                            this.$http.post('/setting/update-app-name',formData)
                            .then(
                                res=>{
                                    this.$root.$emit('change-app-name',this.appName);
                                    this.$toast.success({
                                            title:'Update',
                                            message:'Update record successfully',
                                        })
                                    this.$emit('close')    
                                }
                            )
                            .catch(
                                err=>{
                                    if(err.response.status === 422){
                                        this.has_error = true;
                                        this.errors = err.response.data.errors || {}
                                    }
                                    else{
                                        this.$toast.error({
                                            title:'Update',
                                            message:'Update record failed',
                                        })
                                    }
                                }
                            )
                        },
                        
                    },
                }, 
                {
                    name: this.systemName,
                }, 
                {
                    pivotY:0.2,
                }, 
                {
                    height: "auto"
                })
        }     


	  }
}
</script>

<style lang="scss" scoped>
    .navbar {
        .navbar-brand{
            justify-content: flex-start;
            padding-left:10%;
            font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
            -webkit-font-smoothing: antialiased;
        }
    }
    a:hover{
        color: #878787;
    }
    a:visited{
        color: #878787;
    }
    
    a:link{
        color: #878787;
    }
    .system-name{
        width:220px; 
        text-align:left;
        white-space: normal;
        word-break: break-all;
        line-height: normal;
    }
</style>