<template>
  <div class="auth-layout">
    <div class="nav hidden-lg-up"><router-link class="basix-home" :to="{path: '/'}"></router-link></div>
    <div class="main row">
      <div class="auth-content col-md-6">
        <router-view></router-view>
      </div>
      <div class="auth-wallpaper col-md-6 hidden-md-down">
        <div class="oblique"></div>
        <div class="col-md-12 basix-home" style="height:100%">
            <div style="height:50%; text-align:right;" class="row">
              <!-- <router-link class="basix-home"  :to="{name: 'home'}"  -->
              <a v-if="isAuth" class="basix-home logout" href="#" @click.prevent="logout"
                style="width: 100%;
                      font-size: 16px;
                      padding-top: 10px;
                      color: red;">
                <span>Logout</span>
                <i class="glyphicon glyphicon-log-out"></i>
              </a>  
            </div>
            
          <router-link class="basix-home" :to="{name: 'home'}">
            <h2 style="text-align:center;">{{systemName}}</h2>
          </router-link>
          
        </div>
        
      </div>
    </div>
  </div>
</template>



<script>
  export default {
    name: 'AuthLayout',
    methods:{
      logout(){
            
            this.$store.dispatch('logout')
                .then(
                    res =>{
                        this.$router.push({name:'login'});
                    }
                )
                .catch(
                    err =>{
                        console.log(err)

                    }
                );
        },
    },
    computed:{
      isAuth () {
        // return this.$route.path.match('auth')
        return this.$store.getters.isLoggedIn;
      },
    }

  }
</script>

<style lang="scss">


  .auth-layout {
    height: 100vH;
    margin: 0;

    .main {
      margin: 0;
      height: 100%;
      .auth-content {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
      }
      .auth-wallpaper {
        background-color: #333;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        .basix-home {
          z-index: 2;
          font-size: 2.625rem;
          color: #1ec260;
        }
        .oblique {
          position: absolute;
          background-color: #282828;
          left: calc(50% - 23%/2);
          transform: rotate(150deg);
          width: 27%;
          height: 115%;
        }
        .basix-home, .open, .active h2{
          word-wrap: break-word;
        }
      }
    }

  }
</style>