<template>
  <div class="login">

    <card header-text="Reset Password">
      <div role="alert" class="alert alert-success" v-if="success">
          Reset Password Link is sent to your email!
      </div>
      <div role="alert" class="alert alert-danger" v-if="has_error">
          Sent Reset Password Link to your email failed!
      </div>
      <div class="card-body card-block">
        <form method="post" @submit.prevent="resetPassword" >
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
              <input type="email" id="email" v-model="email" placeholder="Email" class="form-control">
            </div>
            <div class="input-group" v-if="has_error">
              <span class="text-danger" v-for="email in errors.email">{{email}}</span>
            </div>
          </div>
          <div class="form-actions form-group">
              <button type="submit" class="btn btn-primary btn-md float-right">Send Password Reset Link</button>
          </div>
          
        </form>
      </div>
    </card>

  </div>
</template>

<script>
  export default {
    data() {
      return {
        email: null,
        password: null,
        has_error: false,
        errors: {},
        success: false
      }
    },
    mounted() {
      //
    },
    methods: {
      resetPassword() {
        let loader = this.$loading.show();
        // get the redirect object
        var redirect = this.$auth.redirect()
        var app = this;
        var bodyFormData = new FormData();
        bodyFormData.set('email',app.email);
        app.has_error = false;
        app.success = false;
        this.$http(
                {
                  method: 'post',
                  url: '/password/email',
                  data: bodyFormData,
                  headers: {'Content-Type': 'multipart/form-data' }
                })
                .then(
                  res => {
                    loader.hide()
                    app.success =  true
                    this.email = '';
                  }
                ).catch(
                  err => {
                    loader.hide()
                    app.has_error = true;
                    app.errors = err.response.data.errors || {}
                  }
                )
        
      }
    }
  }

</script>

<style lang="scss" scoped>
  .card-title{
    padding-left: 20px;
  }
</style>