<template>
  <div class="login">

    <card header-text="HNM CMS">
      <div role="alert" class="alert alert-success" v-if="success">
          Reset Password success!
      </div>
      <div role="alert" class="alert alert-danger" v-if="has_error">
          Reset Password error!
      </div>
      <div class="card-body card-block">
        <form method="post" @submit.prevent="resetNewPassword" name="login">
          <div class="form-group " style="width:270px">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
              <input type="email" id="email" v-model="email" placeholder="Email" class="form-control">
            </div>
            <div class="input-group" v-if="has_error">
              <span class="text-danger" v-for="email in errors.email">- {{email}}</span>  
          
            </div>
          </div>
          <div class="form-group" style="width:270px">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
              <input type="password" id="password" v-model="password" placeholder="Password" class="form-control">
            </div>
            <div class="input-group" v-if="has_error">
              <span class="text-danger" v-for="password in errors.password"> {{password}}</span>            
            </div>
          </div>
          <div class="form-group" style="width:270px">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
              <input type="password" id="password_confirmation" v-model="password_confirmation" placeholder="Password Confirmation" class="form-control">
            </div>
            <div class="input-group" v-if="has_error">
                <span class="text-danger" v-for="password_confirmation in errors.password_confirmation" >{{password_confirmation}}</span>
            </div>
          </div>
          <div class="form-actions form-group">
              <button type="submit" class="btn btn-primary btn-md float-right">
                Reset Password
              </button>
          </div>
        </form>
      </div>
    </card>

  </div>
</template>

<script>
  export default {
    data() {
      return {
        email: '',
        password: '',
        password_confirmation:'',
        has_error: false,
        token:null,
        errors:{},
        success:false,
      }
    },
    mounted() {
      //
    },
    created(){
      this.email = this.$route.query.email;
      this.token = this.$route.query.token;

    },
    methods: {
      resetNewPassword() {
        let loader = this.$loading.show();
        // get the redirect object
        this.has_error = false
        var redirect = this.$auth.redirect()
        var app = this;
        app.has_error =  false;
        var bodyFormData = new FormData();
        bodyFormData.set('email', app.email);
        bodyFormData.set('token', app.token);
        bodyFormData.set('password', app.password);
        bodyFormData.set('password_confirmation', app.password_confirmation);

        this.$http.post('/password/reset',bodyFormData)
            .then(
                res=>{
                  loader.hide()
                  this.success = true;
                  this.password_confirmation = '';
                  this.email = '';
                  this.password='';
                    console.log('reset success');
                    console.log(res);
                    // this.$router.push({name:'user-index'});
                }
            )
            .catch(
                res=>{
                  loader.hide()
                  this.has_error = true;
                  this.errors = res.response.data.errors;
                    console.log(res)
                }
            )
            
      }
    }
  }

</script>

<style lang="scss" scoped>
  .card-title{
    padding-left: 20px;
  }
</style>