<template>
    <div class="page-404">
        <div class="justify-content-center">

                <div class="clearfix">
                    <div class="col-sm-4">
                        <h1 class="float-left display-3 mr-4">404</h1>
                    </div>
                    <div class="col-sm-8">
                        <h5 class="pt-3">Oops! You're lost.</h5>
                        <p class="text-muted text-small">The page you are looking for was not found.</p>
                    </div>


                </div>
                

        </div>
    </div>
</template>